[2016-02-22 15:04] jessesquires commented on #1458
Thanks @lbanders ! :smile: Great ideas!

I think having a new protocol/delegate will be the most modular. We could have:

[code]

Before scrolling automatically, the library would query this method.

This would give clients the most flexibility. They could implement any of the behaviors that you describe above, and more. Not only that, they could implement any of these behaviors *conditionally* —

[2016-02-23 04:05] lbanders commented on #1458
I like the protocol you suggest @jessesquires , it is really nice and clean and provides some greater dynamics to the developer in my mind.

I will have a look at the behaviour and see how we can get about the one you suggest.
If you like, you can assign me to the task. We plan on implementing it here.

[2016-02-23 04:32] lbanders commented on #1458
An additional improvement to this would be to notify the user of new messages given they do not want to scroll to the bottom.

This could be a delegate method called if `- (BOOL)shouldScrollToNewlyReceivedMessageAtIndexPath:(NSIndexPath *)indexPath;` returns false.

We could have:
`- (BOOL)shouldNotifyUserAboutNewlyReceivedMessageAtIndexPath:(NSIndexPath *)indexPath;`

[2016-02-23 05:22] testerdev opened #1461 "layer SDK - iOS to Android or vice versa - Photos not working."
We integrated JSQ with Layer (layer.com Atlas https://github.com/layerhq/Atlas-iOS) and appears there is a problem when sharing/sending photos between Android > iOS or iOS > Android.

The photos come blank on the iOS side when sent from Android  and appears as tiny thunbnails when sent from iOS to Android.

Any help or guidance would be appreciated.

[2016-02-23 11:02] kshrikant commented on #1455
Thank you..Both issues resolved :)

[2016-02-23 13:54] kshrikant commented on #1049
@lijie121210 @jessesquires @KhaledAld Please can you explain in detail how to use EXTJSQMediaMessage in JSQMessagesViewController, that will be really helpful. Or any other options for audio messages ?

[2016-02-23 13:59] kshrikant commented on #839
@syrakozz how u implemented audio message in JSQ ?

[2016-02-23 14:44] jessesquires commented on #1461
Thanks @testerdev ! :smile:

Unfortunately, this sounds like it does not have anything to do specifically with JSQMessages.

[2016-02-23 14:44] #1461 closed

[2016-02-23 15:07] jessesquires commented on #1142
closed by #1460

[2016-02-23 15:07] #1142 closed

[2016-02-23 15:09] jessesquires commented on #1455
:tada:

[2016-02-23 15:16] jessesquires commented on #1458
:tada: :+1:

- Marked the issue as `in-progress` and for the `8.0_release`.
- Unfortunately, github doesn't let us assign issues until people have been added as core contributors. However, after this PR, I'd be happy to add you! :smile:

Hm... this sounds like more of a client-oriented feature. Not something that would be included in the library. Maybe I'm not understanding correctly though? Eithe

[2016-02-23 17:07] MacMeDan commented on #1455
👏🏾😏 that is what I like to hear. 🤓

[2016-02-24 06:58] kshrikant opened #1462 "Audio message in JSQMessagesViewController"
@jessesquires
Recently i completed chat using JSQMessagesViewController and its working fine for Video, Image & Text. Now, I want to implement Audio message for existing JSQMessagesViewController. Is there anyone who implemented audio message for the same ?

I just got the link https://github.com/jessesquires/JSQMessagesViewController/issues/1049 in that there is file EXTJSQMediaMessage.swift but

[2016-02-24 07:08] lbanders commented on #1458
Perfect - that sounds great :)

I will make a feature request for the other one as well and we can discuss it on that FR :)

[2016-02-24 15:29] jessesquires commented on #1462
Thanks @kshrikant ! :smile:

#1049 is a feature that we would like to have, but do not have time for right now. We are accepting pull requests, though. You can follow the example of the other included media items.

Also, next time you open an issues, please use the provide template and be sure you follow our guidelines! :smile_cat: (I've copied them below)

----------------------------------------

[2016-02-24 15:29] #1462 closed

[2016-02-24 15:30] jessesquires commented on #1458
:sunglasses: :+1:

[2016-02-24 21:51] McFriend opened #1464 "Text positioning in bubbles"
Hi, text in bubbles is not in the center for me.
![textinbubble](https://cloud.githubusercontent.com/assets/15579237/13302248/f7f4f420-db59-11e5-9eeb-4a7ddd330545.png)

[2016-02-25 01:53] jessesquires commented on #1464
Thanks @McFriend ! :smile:

Please use our issue template to update your issue. Thanks!

[2016-02-25 01:53] #1464 closed

[2016-02-25 10:48] psartzetakis commented on #1450
Have you tried the following:

1.Add a Horizontal Spacing constraint between the cellTopLabel and the messageBubbleTopLabel
![screen shot 2016-02-25 at 10 44 03](https://cloud.githubusercontent.com/assets/3639310/13317345/c936c7b4-dbac-11e5-9fe6-1355960b0cd2.png)
2. Apply the following priorities for the messageBubbleTopLabel
![screen shot 2016-02-25 at 10 46 16](https://cloud.githubusercontent.co

[2016-02-25 15:06] skensell commented on #1329
I also have this issue.

[2016-02-25 21:47] mauruskuehne commented on #1442
Thanks @DKalachniuk :grinning:

I just played around with this and I came up with two ways to achieve this:

#### 1. performBatchUpdated
By doing everything inside of `performBatchUpdates`, the view will correctly scroll up, but the typing indicator will disappear immediately:

[code]

#### 2. hide after scrolling
You could also do the scrolling yourself and then hide the typing indicator after th

[2016-02-25 22:14] DKalachniuk commented on #1442
Thank you @mauruskuehne
The first solution is perfect!
Thank you again

[2016-02-26 02:11] jessesquires commented on #1442
:+1:

I'm pretty sure you aren't supposed to call `reloadData` from within `performBatchUpdates:`.

Instead, you could reload section `0` (since JSQMessages is single-section)

[2016-02-26 02:11] #1442 closed

[2016-02-26 06:08] Mackarous commented on #1247
Ok, so I looked into this one. It is a known issue and a radar has been filed. Unfortunately it is not on openradar, so we'll just have to wait and see if Apple will fix this one.

The gist (no pun intended) of the problem is when the `JSQMessagesViewController`'s `UITextView` link is long pressed, it tries to present a `UIAlertController` action sheet. The issue here is that the action sheet is p

[2016-02-26 06:17] xiongcaixing1986 opened #1466 "Chat box, keyboard problem"
In iOS 9, the keyboard disappeared more difficult, and there is no drag gesture

[2016-02-26 15:18] jessesquires commented on #1466
thanks @xiongcaixing1986 ! :smile:

closing this as a duplicate of #1063.

please make sure you follow our guidelines and complete the issue template next time.

[2016-02-26 15:18] #1466 closed

[2016-02-27 11:05] MohamedThabib commented on #1450
@psartzetakis Thanks for your inputs. I tried your solution but it dint work out. Still the issue exists.

[2016-02-28 13:54] maxiundtesa opened #1469 "MediaItem inside Bubble instead of beeing the whole bubble"
Hello,
I want to have the mediaItems inside a messagebubble, just like whatsapp is doing.
I changed the JSQMessagesCollectionViewCellIncoming.xib and the JSQMessagesCollectionViewCellOutgoing.xib to achieve this with text messages,
but I am not able to figure out how to change the mediaView to do the same.
It now looks like this:
![simulator screen shot 28 02 2016 14 40 32](https://cloud.githubuse

[2016-02-29 01:44] xiongcaixing1986 commented on #1466
thanks

[2016-02-29 19:31] McFriend opened #1470 "Bubble text insets"
## Questions and help

Here are some pictures:
![simulator screen shot](https://cloud.githubusercontent.com/assets/15579237/13406370/2b8888be-df34-11e5-8bcb-048b31140084.png)

[2016-02-29 22:42] keyanli opened #1471 "text input hided the last message line in swift 2.1"
the text input will hide the last message line, like the photo, when I just focus on the text input, it shows well, but when I send "12", the line "12" has been hidden parts, and once I send the "13", the "12" will be up to the normal position but "13" is still be hidden.
![image 2-29-16 at 16 38 1](https://cloud.githubusercontent.com/assets/13823198/13411519/117b1832-df03-11e5-93ee-3048deb97897.j

[2016-03-01 09:18] thesleepycow commented on #323
Hi! I'm getting the same issue as @samyakjain, how can i increase the height of the input toolbar? thanks!

[2016-03-01 11:21] samyakjain commented on #323
@thesleepycow I guess you forgot to call the method in baseview , call [super ...]

[2016-03-01 12:41] thesleepycow commented on #323
@samyakjain sorry but i don't quite understand what you mean.. I'm trying in swift with this code

[2016-03-01 12:47] samyakjain commented on #323
i have done it in objective-c , you might be overriding this function,
- (void)observeValueForKeyPath:(NSString *)keyPath ofObject:(id)object change:(NSDictionary *)change context:(void *)

make sure you call
[super observeValueForKeyPath:keyPath ofObject:object change:change context:context];

[2016-03-01 13:19] thesleepycow commented on #323
oh! it's working now. Thank you very much!

[2016-03-01 14:08] GuyKahlon commented on #752
Hey @fustalol - Do you have still the date formatting issue?

[2016-03-01 20:08] Mkey85 commented on #740
@borishart thx worked

[2016-03-02 13:16] aoguzhan opened #1474 "NSRangeException when coming from back button"
Hey,

I am having a strange issue. I ve implemented JSQMessages according to the demo project. And everything works great. But; I have a custom button for `rightBarButtonItem` which pushes different view to navigation stack. if i click that button, or click another tab button while `JSQMessagesViewController` is open, and press back button to go back to the messages view, it throws error like this

[2016-03-02 13:21] aoguzhan commented on #1470
Hey @McFriend, not related to your issue, but did you add an action to that profile picture to push profile view into the stack? i am asking because of this #1474 .Have a weird issue and trying to fix it..

thanks.

[2016-03-02 16:45] skensell commented on #1279
Overriding almost worked for me, but it crashed when I tapped "Copy".  You have to make sure that the `text` method of your `JSQMessageData` object returns a non-nil string. Hope it helps someone.

[2016-03-03 03:01] iad24 opened #1475 "Custom changes on xib files and other questions"
Sorry. Noob here. These are just a questions. I dont know where to put them and have them here instead.

1. Lets say I get JSQMessageVC using pods but then I need to add new views on the and some code change on the JSQMessagesCollectionViewCellIncoming files (these changes maybe only applicable to my app and may be irrelevant to others). How will I do that? Or need to copy the src code and include

[2016-03-03 14:14] #1449 closed

[2016-03-03 19:42] gmogames opened #1478 "Navigation bar pushing up when keyboard opens"
Hello there,

I'm using the latest version of the library, and tested on iOS 9 and iOS 8.

I'm inside of a stack of ViewControllers all connected through a single UINavigationController. When pushing the Messages screen, everything looks fine, but when you tap to enter the message and the keyboard opens, my Navigation Bar is being pushed up, making it half visible. If you open the word suggestions

[2016-03-03 19:57] gmogames commented on #1478
Actually it seems that the messages were pushed down, but they were not, it's because the nav bar goes up giving the impression, so, my problem is only with the navigation bar scrolling up.

[2016-03-03 20:39] gmogames commented on #1478
Well,

After digging deep into this, I noticed that another developer had installed IQKeyboardManager in the project, which auto scrolls the view when a keyboard opens, and that was causing a conflict with the Messages view controller.
All I had to do is disable IQKeyboardManager for my Messages view controller class in my AppDelegate.

Thanks and sorry for adding more issues to your list

[2016-03-03 20:39] #1478 closed

[2016-03-04 02:02] svtechnology commented on #235
This will be an awesome feature to have. I know we would like to keep the library minimal but bulk selection (including media items) should be a part of it.

[2016-03-04 03:26] rabbitmouse opened #1479 "How to customize cells? I need a new style"
- Hi - I was wondering how you could customize cells and use myself nib file.....Like this picture
![example](https://cloud.githubusercontent.com/assets/11554140/13517153/b34d6f02-e1fb-11e5-83f8-94ff1bb28bd1.jpg)

#How to implement？
Where I need to change or add something？

thanks！

[2016-03-04 06:47] McFriend commented on #1470
No, I didn't. Just a button with action which prints "Avatar pressed". Sorry. But maybe 37 is messages count ? check your messages array or something.

Среда, 2 марта 2016 г., 16:22 +0300 от notifications@github.com  <notifications@github.com>:

[2016-03-04 10:38] jalone87 opened #1480 "Intercepting touch events in cutom top view"
#### General information

- Library version(s): 7.2.0
- iOS version(s): 9.0.2 (same behaviour on all devices between with ios8+, lower version not tested)
- Devices/Simulators affected: all devices after iphone4s (5, 5s, 6, 6+,...)
- Reproducible in the demo project (Y/N):  N

#### Expected behavior

I need to set an additional bar below the navigation bar. To achieve this a subclass of JSQMessage

[2016-03-05 15:02] BillCarsonFr commented on #1345
You have to subclass JSQMessagesComposerTextView and override canPerformAction

    override func canPerformAction(action: Selector, withSender sender: AnyObject?) -> Bool {
        if let _ = UIPasteboard.generalPasteboard().image where action == "paste:" {
            return true
        }
        return super.canPerformAction(action, withSender: sender)
    }

Then you have to copy some xibs  (

[2016-03-05 15:23] macbaszii opened #1482 "Couldn't load async image with JSQPhotoMediaItem"
I try to load image from URL with this code, but image view still not showing the image.
I'm not sure, I'm on the right way to show an image from url

this is my code which is adding message to the messages array
I used Kingfisher to load image

[code]

![screen shot 2559-03-05 at 10 07 53 pm](https://cloud.githubusercontent.com/assets/809559/13548321/475ceaa4-e320-11e5-95be-25807ee5b69c.png)

[2016-03-05 16:22] JubrilO opened #1483 "Message bubble width truncated in master view controller of split view controller"
#### General information

- Library version(s): 7.2.0
- iOS version(s): 9.1
- Devices/Simulators affected: iPad Air
- Reproducible in the demo project (Y/N): Not sure
- Link to a project that exhibits the issue (if possible):
- List any related issues:

#### Expected behavior

#### Actual behavior

#### Steps to reproduce the behavior

#### Screenshots or videos?

![simulator screen shot 5 mar 201

[2016-03-06 06:03] #1482 closed

[2016-03-06 11:13] lbanders commented on #1458
@jessesquires would you have come about how to detect whether I cell is actually visible in the collectionview?
You can of course ask for visible cells/indexpaths, but that list also shows items that are NOT visible as such - could be hidden beneath a keyboad. I am trying to figure out how to calculate that space that is actually available to display things on and then detect if a cell is visible

[2016-03-06 20:36] MacMeDan commented on #1479
Checkout the stack overflow question that is similar to yours. Great answer: Custom cell for JSQMessages http://stackoverflow.com/a/35399408/5894123

Let me know if you have more questions and I see what I can do to help. 🕵

[2016-03-06 20:43] MacMeDan commented on #1475
Check out this answer on stackoverflow :Custom cell for JSQMessages http://stackoverflow.com/a/35399408/5894123. In regards to your first question.
The second question I don't know how you would do that besides implementing your own custom keyboard or just detecting emojis and throwing an error when the send button is pressed. Maybe others would have better suggestions.
The third may be related to

[2016-03-06 20:50] paoloj7 opened #1484 "Message with LocationMediaItem doesnt show"
Hello,
I have this code for send a message with LocationMediaItem:
[code]
and this:

[code]
But when i send the message i dont have any error but the message doesnt show.
Is this the right way to send a message with location?
Thank you.

[2016-03-06 23:04] MacMeDan commented on #1340
@zwang I think that https://github.com/jessesquires/JSQMessagesViewController/pull/1481 may help you achieve what you are going for here. Well At least I hope that it does. If you wouldn't mind letting me know if there is anything you don't see covered that would be helpful I will try and add it. Hope that it helps 👷🏼

[2016-03-07 03:51] jessesquires commented on #1483
I think this was fixed by #1238.

Can you confirm?

[2016-03-07 03:54] jessesquires commented on #1458
@lbanders -- Hm, can you just check the collection view `contentOffset` and `contentInset`?

Those, compared with `bounds` should give you everything you need. (I think)

[2016-03-07 03:56] jessesquires commented on #1479
Also, see previous questions :smile:

https://github.com/jessesquires/JSQMessagesViewController/issues?utf8=✓&q=%5BCustom+cells%5D+in%3Atitle+

[2016-03-07 03:56] #1479 closed

[2016-03-07 03:56] #1475 closed

[2016-03-07 05:16] lbanders commented on #1458
Thanks @jessesquires - nailed it with `bounds` and `contententInset`. A PR will come shortly.

[2016-03-07 05:21] jessesquires commented on #1458
:tada: :+1:

[2016-03-07 06:45] hemantkadam opened #1487 "How to display received/ attached images with text associated with them?"
## New issue checklist

- [x] I have read all of the [`README`](https://github.com/jessesquires/JSQMessagesViewController/blob/develop/README.md).
- [x] I have read the [documentation](http://cocoadocs.org/docsets/JSQMessagesViewController/).
- [x] I have reviewed the [contributing guidelines](https://github.com/jessesquires/JSQMessagesViewController/blob/develop/.github/CONTRIBUTING.md). Confirma

[2016-03-07 08:27] JubrilO commented on #1483
I think the fix you're talking about was merged to the develop branch. I've tried using the develop branch, I still get the same results.

[2016-03-07 14:52] cbarbera80 opened #1488 "link color"
## New issue checklist

- [x] I have read all of the [`README`](https://github.com/jessesquires/JSQMessagesViewController/blob/develop/README.md).
- [x] I have read the [documentation](http://cocoadocs.org/docsets/JSQMessagesViewController/).
- [x] I have reviewed the [contributing guidelines](https://github.com/jessesquires/JSQMessagesViewController/blob/develop/.github/CONTRIBUTING.md). Confirma

[2016-03-07 14:53] cbarbera80 commented on #1488
Hi, it is possible to change link color inside bubble?

[2016-03-07 15:08] jessesquires commented on #1483
Try adjusting `messageBubbleLeftRightMargin`

http://cocoadocs.org/docsets/JSQMessagesViewController/7.2.0/Classes/JSQMessagesCollectionViewFlowLayout.html#//api/name/messageBubbleLeftRightMargin

[2016-03-07 16:48] McFriend commented on #1470
Maybe it is because I added label in cell .xib ?

[2016-03-08 07:01] alberttai1 commented on #1338
@jessesquires I'm having this issue without enabling springiness. The weird thing is this only happens when I'm not using cocoapods and manually importing into project. The springiness workaround doesn't fix my problem at all. Is there any other way?

[2016-03-08 07:15] davepatterson commented on #1488
Thanks @cbarbera80! :smile_cat:

Yes, you can change the link color inside bubble images. This can be accomplished in `(UICollectionViewCell *)collectionView:(JSQMessagesCollectionView *)collectionView cellForItemAtIndexPath:(NSIndexPath *)indexPath`. In this method, you would override the `cell.textView.linkTextAttributes`. For example, if you wanted to change the link color to red you would do t

[2016-03-08 13:06] aoguzhan commented on #1474
@jessesquires or anyone else has any idea on this? thanks

[2016-03-08 13:58] #1488 closed

[2016-03-08 21:09] ivandiazmolina opened #1490 "Swift project"
Is available JSQMessagesViewController to Swift? I have found one (https://github.com/firebase/ios-swift-chat-example/tree/master/JSQMessagesViewController) but it is not complete like this

Thx and regards

[2016-03-08 21:31] eliburke commented on #1049
@jessesquires I have an implementation of JSQAudioMediaItem that I can submit. It takes a URL or NSData, uses AVAudioPlayer, and shows a progress bar and timer label while playing. However, it seems like the sort of control that could be customized about 1 million ways, so I don't know if it is better to submit as is, or do additional work to make it customizable, or throw it into the demo project

[2016-03-09 01:25] JubrilO commented on #1483
It works!! Thanks a lot!  +1:

[2016-03-09 04:49] #1483 closed

[2016-03-09 04:58] jessesquires commented on #1049
@eliburke -- nice! :+1:

I think we could definitely leverage your work here. It looks like you've got everything working and hooked up! So the hardest part is done :smile:

Per the library's design goals, our default should be as similar to iMessage as possible:

![img](https://support.apple.com/library/content/dam/edam/applecare/images/en_US/iphone/iphone5s/keep_audio_message.png)

iMessage has

[2016-03-09 05:03] jessesquires commented on #1049
@eliburke

So, not sure if you're up for that — but if so, I'd be happy to accept a PR! :smile:

Not sure if `develop` or `release_8.0` would be best yet. I'd probably have to see it first. :grin:

Regardless, I think posting a link to the code here would be a huge help for the community for those who want to add this now. (And it will help me in the future if you aren't able do a PR.)

[2016-03-09 09:54] yu629 opened #1492 "To delete a few days after the data, it will show you some pictures"
## New issue checklist

- [ ] I have read all of the [`README`](https://github.com/jessesquires/JSQMessagesViewController/blob/develop/README.md).
- [ ] I have read the [documentation](http://cocoadocs.org/docsets/JSQMessagesViewController/).
- [ ] I have reviewed the [contributing guidelines](https://github.com/jessesquires/JSQMessagesViewController/blob/develop/.github/CONTRIBUTING.md). Confirma

[2016-03-09 09:55] yu629 commented on #1492
To delete a few days after the data, it will show you some pictures

[2016-03-09 09:55] yu629 commented on #1492
To delete a few days after the data, it will show you some pictures

[2016-03-09 09:56] #1492 closed

[2016-03-09 09:57] yu629 opened #1493 "delete"
## New issue checklist

- [ ] I have read all of the [`README`](https://github.com/jessesquires/JSQMessagesViewController/blob/develop/README.md).
- [ ] I have read the [documentation](http://cocoadocs.org/docsets/JSQMessagesViewController/).
- [ ] I have reviewed the [contributing guidelines](https://github.com/jessesquires/JSQMessagesViewController/blob/develop/.github/CONTRIBUTING.md). Confirma

[2016-03-09 09:57] yu629 commented on #1493
To delete a few days after the data, it will show you some pictures

[2016-03-09 09:58] #1493 closed

[2016-03-09 10:05] yu629 opened #1494 "Why deleted after a few messages, above and below the picture will display error"
## New issue checklist

- [ ] I have read all of the [`README`](https://github.com/jessesquires/JSQMessagesViewController/blob/develop/README.md).
- [ ] I have read the [documentation](http://cocoadocs.org/docsets/JSQMessagesViewController/).
- [ ] I have reviewed the [contributing guidelines](https://github.com/jessesquires/JSQMessagesViewController/blob/develop/.github/CONTRIBUTING.md). Confirma

[2016-03-09 13:45] imran-y commented on #1049
@eliburke

Can you please share the link, so that we can get help from it, while it gets integrated in release? As soon as possible would be highly appreciated :-)

[2016-03-09 13:58] eliburke commented on #1049
Yes @imran-y I know there's pent up demand; lots of requests and issues related to playing audio. :) I'm going to take some time today to see if I can transform it along the lines that @jessesquires mentioned. If you can't wait or I get hit by a bus, take a look at SYWaveformPlayerView it does all the same stuff and just needs to be massaged into a MediaItem class.

[2016-03-09 16:13] jessesquires commented on #1494
Thanks @yu629 ! :smile:

Please fill out the issue template so we can help. Thanks!

[2016-03-09 16:13] #1494 closed

[2016-03-09 22:32] eliburke commented on #1049
Ok, I've created PR #1495 against develop. The updated mediaView now looks like this:
![audiomedia](https://cloud.githubusercontent.com/assets/2371768/13652832/85e911a4-e61c-11e5-9752-2454dc364ab8.gif)

I'm not averse to creating a waveform view to replace the progress bar, but I wanted to your approval for a baseline implementation first. Also, I know you don't want to create external dependencie

[2016-03-10 02:30] jessesquires commented on #1049
@eliburke this is beautiful! :star2: :heart_eyes:

One nit for the UI, the timestamp label should be formatted `0:00`.

------------

RE: SCWaveFormView

I haven't looked at the PR yet, but will soon. For now, I think this is great!

But, if you want to try this:
- You're correct, we should definitely minimize dependencies. I'd rather borrow code. But we should attribute it appropriately in the he

[2016-03-10 05:13] syrakozz commented on #1049
+1

[2016-03-10 06:08] eliburke commented on #1049
@jessesquires I'm glad you like it. You'll see when you look at the code but I have clips <60s formatted as ss.s, then mm:ss, then hh:mm:ss. If you think it needs to be strictly mm:ss I'd like to expose the format method for subclassing or add an enumeration to control its behavior.

[2016-03-10 11:19] bofiaza commented on #1470
Hi @McFriend, sorry I'm not of any help. Actually, I need your help. Sorry for posting it here but I think you can help me right away. How did you create the top most cell with the item at the center? I want to show cells that contain some sort of system message/announcement. So it's different with the incoming/outgoing message bubbles. Thanks!

[2016-03-10 16:22] chrisscholly commented on #826
![capture d ecran 2016-03-10 a 17 22 02](https://cloud.githubusercontent.com/assets/26509/13676097/b225cd16-e6e4-11e5-8605-84923eaa44af.png)

[2016-03-10 20:23] marcioarantes-ww opened #1497 "include of non-modular header JSQSystemSoungPlayer error"
I want to use JSQMessagesViewController as a dependency to my swift pod. When I build my example app I get the old non-modular header error related to the JSQSystemSoundPlayer but I don't know how to get around it with XCode 7.

Podspec:
s.dependency 'JSQSystemSoundPlayer'
s.dependency 'JSQMessagesViewController', '7.2.0'
 #Also tried 5.3.2

<img width="695" alt="screen shot 2016-03-10 at 12 16 07

[2016-03-10 21:09] chrisscholly commented on #826
Thanks for answer mate :)
Finally ended up subclassing JSQMessagesFooterView and using registerNib() in JSQMessagesViewController subclass.

[2016-03-11 11:34] jayjayesh commented on #1279
Hi skensell, Can you past code, How i can prevent  text method of JSQMessageData return non-nil string.

[2016-03-11 14:05] skensell commented on #1279
@jayjayesh I have a class which implements the `JSQMessageData` protocol and has a text method defined like this:
[code]
This way, the text will never be nil.

[2016-03-11 16:45] Mackarous commented on #1497
Hi @marcioarantes-ww

I have actually had similar experiences with this problem. The issue is that Swift doesn't play nice with importing non-modular frameworks into frameworks. Essentially, you will only run into this problem when bundling a framework inside another. There is a simple solution, however it requires some work `JSQSystemSoundPlayer` as well as `JSQMessagesViewController`.

@jessesqu

[2016-03-11 17:03] jessesquires commented on #1497
@Mackarous :+1: :+1: :+1: :+1:

[2016-03-11 17:05] jessesquires commented on #1497
Related: #927, #1283, #1284

[2016-03-11 17:06] jessesquires commented on #1060
Thanks @wangshengjia ! :smile:

closing as duplicate of #1497

[2016-03-11 17:06] #1060 closed

[2016-03-11 18:29] michaelkirk commented on #1279
Thanks for the workaround @ebbe-brandstrup!

Is this a bug, or is there a design reason the long-press-menu would be disabled for media messages?

[2016-03-11 18:59] michaelkirk commented on #1279
@skensell , @jayjayesh - returning the empty string will keep it from crashing, but you aren't actually allowing your users to copy those items. A better solution would be to not offer the "copy" action for media messages.

[code]

[2016-03-11 19:30] marcioarantes-ww commented on #1497
Thank you guys! :)

[2016-03-11 19:49] eliburke commented on #1279
Or.... dare I say it... implement copy:

[2016-03-12 14:05] bofiaza opened #1498 "Adjust the bubble margin of the JSQMessagesCollectionViewCell"
[![enter image description here][1]][1]

  [1]: http://i.stack.imgur.com/Qo8PJ.png

I'm using tailed and tailless bubble image for the incoming and outgoing messages. The (code for the) cell for the outgoing and incoming are pretty much alike. But, as you can see in the image, the bubble for the tailless incoming message is slightly off to the left. How can I adjust this?

I'm still learning the l

[2016-03-13 21:36] kirualex commented on #1063
If anybody still has some interests on this, I'm currently trying to fix this [in my fork](https://github.com/kirualex/JSQMessagesViewController).
For now I managed to remove the keyboardController altogether, handle keyboard docking properly using `inputAccessoryView` and manage the input textview via constraints only. This means the `keyboardDismissMode` can be `UIScrollViewKeyboardDismissModeIn

[2016-03-13 22:10] andrew804 commented on #1063
@kirualex I still have interest in this as I don't know when v8 will be released. I'll take a look at your fork!

[2016-03-14 06:57] thesleepycow commented on #1382
Maybe you could use the animationImages property of UIImageView?

[code]

[2016-03-14 16:34] MacMeDan commented on #1498
Hey @bofiaza I think what you are looking for is adjusting the  `_messageBubbleLeftRightMargin` I found it in the `JSQMessagesCollectionViewFlowLayout` line 73.
Technically the bubbles are lining up edge to edge(of the tail) So you are going to want to make something that returns a different `_messageBubbleLeftRightMargin` based on wether or not it is tailed or not. This should help you get where

[2016-03-14 16:36] MacMeDan commented on #1490
there is a pull request for one https://github.com/jessesquires/JSQMessagesViewController/pull/1491
also let me know if you have any other questions of using it. It is only a start and will grow with time. 👻 Good Luck.

[2016-03-14 17:12] Mackarous commented on #1497
Hey sorry for the delay,

@jessesquires:

Upon further investigation, it turns out that `JSQSystemSoundPlayer` is not an issue, and can remain as is. The change that needs to be done is in the `JSQMessagesViewController` Podfile. The Podfile requires the following changes:

[code]

This will use frameworks instead of static libraries for the included projects, which in the case of `JSQMessagesView

[2016-03-15 04:36] bofiaza commented on #1498
Hi @MacMeDan! Is there a way to adjust the `_messageBubbleLeftRightMargin` based on the indexPath? I mean, I don't see a delegate method for that.

[2016-03-15 05:20] jessesquires commented on #1498
hey @bofiaza :smile:

currently `_messageBubbleLeftRightMargin` this is all or nothing. feel free to open a feature request issue, though. this could be implemented in v8.0

also, what you're seeing here for incoming bubbles is the spacing for the avatar. you can also disable this. see the FAQ for details.

[2016-03-15 05:20] #1498 closed

[2016-03-15 05:24] jessesquires commented on #1490
:+1:

also, @ivandiazmolina -- release 8.0 will be much more swift friendly :smile:

[2016-03-15 05:24] #1490 closed

[2016-03-15 05:53] vasanthakumars opened #1500 "How to Load JSQPhotoMediaItem() with imageURL?"
## New issue checklist

- [ ] I have read all of the [`README`](https://github.com/jessesquires/JSQMessagesViewController/blob/develop/README.md).
- [ ] I have read the [documentation](http://cocoadocs.org/docsets/JSQMessagesViewController/).
- [ ] I have reviewed the [contributing guidelines](https://github.com/jessesquires/JSQMessagesViewController/blob/develop/.github/CONTRIBUTING.md). Confirma

[2016-03-15 06:36] dudduss opened #1501 "Any way for a manual import, similar to the Firebase project?"
My project currently uses the Google Maps and Braintree APIs through cocoapods and if I add the use_frameworks! line to the project it will make it break unfortunately. Is there anyway to do a manual import of this project and have it work, because I tried that and I kept getting an unable to find module error? Is there a way also to use_frameworks for some pods and not for others, because that co

[2016-03-15 09:33] OrWest commented on #1423
Any ideas? I can provide movie with this bug, if you want.

[2016-03-15 10:58] kvndevils opened #1502 "Changing the 'load earlier messages' button properties"
## Question

Hi All,

Is it possible to change the loadButton properties like font & color using SWIFT?
I'm struggling to access it in JSQMessagesLoadEarlierHeaderView.

Thanks

[2016-03-15 11:45] Kayoto1 commented on #1423
Same happen to me

[2016-03-15 11:50] Kayoto1 commented on #1008
Same happen to me

[2016-03-15 16:33] betzerra opened #1503 "Strange layout behavior on iPad when chat appears"
### General information
- Library version(s):7.2.0
- iOS version(s): iOS 9.2.1 (but probably any)
- Devices/Simulators affected: iPad Air 2 (but probably any)
- Reproducible in the demo project (Y/N): N
## Bug report

I'm experiencing this layout weird behavior on iPad (see video).
Any clue what could be triggering this?
#### Screenshots or videos?

https://www.dropbox.com/s/kcmo9f7vdgy06ac/chat_i

[2016-03-16 02:17] #1500 closed

[2016-03-16 11:36] kabiroberai commented on #881
I'm making an iPad app with a split view controller, and for some reason, when I rotate my device's orientation to portrait, and then back to landscape, my messages get cut off and it logs the same error. I'm wondering whether I should create my own bug report, as mine didn't only log the error, it affected the layout as well.

[2016-03-17 09:45] kirualex commented on #1063
Submitted a PR, but from what I see Jesse's not very active lately on the project, this may take a while. I'm pretty happy with the results, anyone is welcome to try it !

[2016-03-17 10:39] dudduss opened #1504 "Collection View is only loading two texts at a given time"
When I add multiple test messages, only two of them are displaying on screen. The other messages are clearly there becasue I can copy them, but the colors are simply not showing. When I scroll around, a new two texts appear, but it is still only two. Below show some examples.

<img width="374" alt="screen shot 2016-03-17 at 3 36 29 am" src="https://cloud.githubusercontent.com/assets/9653576/138435

[2016-03-18 14:20] abdulvy opened #1505 "Not getting chat bubble using JSQMessageViewController in ios"
I am not getting Chat Bubble in JSQMessageViewController but not able to get what to method to be add to get chat bubble in my chat page in IOS I am getting only Textbox and send button when I type text and click send not getting bubbles I am new please help me.

//
//  ChatpageViewController.h
//  ChatApp
//
//  Created by VY's iMAC 01 on 17/03/16.
//  Copyright (c) 2016 VY's iMAC 01. All rights

[2016-03-19 01:47] jessesquires commented on #1063
Thanks @kirualex !

[2016-03-19 02:04] jessesquires commented on #1497
Thanks for the investigation and info @Mackarous ! Huge help! :bow:

This was what I expected to hear. We'll have to target this change for version `8.0` of the library.

[2016-03-20 08:22] wongyt2008 commented on #817
@jardamach  Your solution works for me. Thank you for that.

[2016-03-21 04:27] jasonlagaac commented on #1505
You're missing some stuff that should be implemented.

[code]

[2016-03-21 04:29] jasonlagaac commented on #1504
Do you have any sample code or a sample project? :)

[2016-03-21 09:02] brokeniceinteractive commented on #690
I have the same issues, anyone solved this?

[2016-03-21 09:16] abdulvy commented on #1505
jasonlagaac it is working fine.

[2016-03-21 14:55] abdulvy commented on #1505
How to bring Navigation Bar in this please

[2016-03-21 15:54] jessesquires commented on #1505
Thanks @jasonlagaac ! :smile:

[2016-03-21 15:54] #1505 closed

[2016-03-22 00:07] dudduss commented on #1504
This is the file that I'm currently experimenting with. Code all looks right, but I'm not sure where I'm messing up.
[jsq folder.zip](https://github.com/jessesquires/JSQMessagesViewController/files/183292/jsq.folder.zip)

[2016-03-22 09:58] fabriziopera opened #1506 "Messagges View Controller not show pushing, but only modally"
### General information

- Library version(s): 7.2.0 (cocoapods)
- iOS version(s):9
- Devices/Simulators affected: all simulators, iphone 6 (only tested)
- Reproducible in the demo project (Y/N):  N
- List any related issues:

## Bug report

Hi, i'm include your library on my project, but i have one important problem.
My app is based on Tabbed application and in one of this tab i have a navigation

[2016-03-22 12:00] fabriziopera commented on #1198
Hi, how can i change this constraint? Do you have an example code that works?

[2016-03-22 15:05] abdulvy opened #1507 "Problem in getting Navigation Bar, I have tried getting Navigation Bar in my project But I am not getting it Please let me know what the methods need to be added to get it."
#import <UIKit/UIKit.h>
#import <JSQMessagesViewController/JSQMessages.h>
#import <JSQMessagesViewController.h>
#import "JSQMessagesCollectionViewFlowLayout.h"
#import "JSQMessages.h"
#import "JSQPhotoMediaItem.h"
#import "JSQLocationMediaItem.h"
#import "JSQVideoMediaItem.h"
#import "JSQMessagesMediaViewBubbleImageMasker.h"
#import "JSQMessagesAvatarImage.h"
#import "JSQMessagesAvatarImageFactory

[2016-03-22 15:11] eliburke commented on #1407
@benjaminhallock thanks for the code! I've been trying to wrap my head around paste and the paste delegate and here's what I've come up with:
1) JSQMessagesComposerTextViewPasteDelegate appears to require that you add the protocol, add the required method, AND subclass JSQMessagesComposerTextView to override canPerformAction for paste. This is described in #1345. To me it seems over complicated.
2

[2016-03-22 16:04] ADevelopStudio opened #1508 "xcode 7.3 keyboard above textfield"
xcode 7.3
Swift 2.2
Textfield stopped being "attached" to keyboard.
If start entering text - keyboard becomes above textfield, which continue lie on the bottom of view.
yesterday on Xcode 7.2 everything worked fine

[2016-03-22 16:26] jessesquires commented on #1506
Hey @fabriziopera :smile:

Sounds like a problem on your side. This works fine in the demo project.

[2016-03-22 16:26] #1506 closed

[2016-03-22 16:28] jessesquires commented on #1508
Thanks @ADevelopStudio ! :smile:

[2016-03-22 16:30] jessesquires commented on #1407
Hm... when the paste delegate code was merged, I didn't realize subclassing was required. I still don't think that's correct — seems wrong.

In any case, I agree, you shouldn't have to subclass the text view. We'll revisit this in `v8.0` for sure.

[2016-03-23 01:07] ADevelopStudio commented on #1508
@jessesquires could you please let me know if it is possible to be fixed soon or not?
basically, I am using your module for one of the projects where due date in 3 days :( and I was shocked when I saw that it stopped working... So, I just wanted to know If it's not so easy to fix - I will need to find something similar. Thanks!

[2016-03-23 07:53] zjszyms opened #1510 "Part of the text in the chat bubbles is hidden (iPhone 6s plus only)"
Part of the text in the chat bubbles is hidden  (iPhone 6s plus only)

![1222](https://cloud.githubusercontent.com/assets/5733794/13978966/02b24eb4-f110-11e5-9623-7ef77598c3c7.png)

[2016-03-23 07:57] zjszyms commented on #1510
![1222](https://cloud.githubusercontent.com/assets/5733794/13978949/e2067e56-f10f-11e5-856c-ff4c1dee2742.png)

[2016-03-23 16:03] jessesquires commented on #1510
Thanks @zjszyms ! :smile:

Please provide the additional information from the [issue template](https://github.com/jessesquires/JSQMessagesViewController/blob/develop/.github/ISSUE_TEMPLATE.md).

[2016-03-23 16:17] rvidis commented on #1148
I am using UIStringAttributeKey.ForegroundColor and UIStringAttributeKey.UnderlineStyle

[2016-03-23 16:27] eliburke commented on #1407
@jessesquires I did a little more sleuthing. You're right that subclassing isn't required... if you only want to paste text. Out of the box, UITextView is hard coded to accept strings; if you paste a string, the JSQMessagesComposerTextView calls through to the pasteDelegate properly. Perhaps @harlanhaskins had other uncommitted changes that weren't in his pasteDelegate PR that allowed pasting imag

[2016-03-24 01:56] zjszyms commented on #1510
@jessesquires

Library version(s):Develop branch
iOS version(s):iOS 9.2.1
Devices/Simulators affected:iPhone 6s plus only (Simulators is OK)
Reproducible in the demo project? (Y/N):Y

[2016-03-24 15:01] jessesquires commented on #1407
Hey @eliburke, after some investigation:

You should only need to override:

[code]

And if there’s an image in the pasteboard, perform your custom behavior and return `NO`. Otherwise just return `YES`.

Here's a swift snippet:

![screen shot 2016-03-23 at 10 18 36 am](https://cloud.githubusercontent.com/assets/2301114/14020932/86fa80fc-f196-11e5-8238-940ce67c361d.png)

[2016-03-24 15:03] jessesquires commented on #1407
@benjaminhallock / @eliburke -- I've updated this issue to label is as a question.

Let me know if you still think there are improvements we can make for `v8.0` of the library. :smile: (If so, let's open a new issue to discuss)

[2016-03-24 15:27] jessesquires commented on #1407
Just talked with @eliburke offline.

Looks like the issue is that having an image on the pasteboard, then long pressing the text field doesn't show "paste". :cry:

Also agree with @benjaminhallock that we can improve UX.

[2016-03-24 15:31] jessesquires commented on #1407
I remember this working when the change landed. Clearly seems broken on iOS 9. Still need to test on iOS 8

[2016-03-24 15:36] eliburke commented on #1407
I added the suggested answer from this [Stack Overflow Post](http://stackoverflow.com/questions/34304456/how-to-enable-uitextview-to-receive-pasted-images) to JSQMessagesComposerTextView in the demo project. Once I did that, pasting images works in the stock demo.

I'm bandwidth limited right now but I can test this with iOS 8 tomorrow or this weekend and see if it introduces any issues. Otherwise

[2016-03-24 18:03] AlphazellaLevallois opened #1512 "Bug : All scrollviews becomes crazy after push JSQMessagesViewController..."
Having JSQMessagesViewController display after all my UIScrollView not have the right dimensions .. I do not understand why..?

[2016-03-25 03:07] cx478815108 commented on #1510
yeah,obviously i met  that bug also.iPhone6 9.3

[2016-03-25 08:19] zjszyms commented on #1510
Temporary solution is set :
`self.collectionView.collectionViewLayout.messageBubbleFont = [UIFont systemFontOfSize:17];`

[2016-03-25 13:56] MHX792 commented on #321
Does anyone have a solution for how to implement @jessesquires's answer in Swift for system messages?

[2016-03-25 13:57] MHX792 commented on #215
How to do this in Swift?

[2016-03-25 15:40] MHX792 opened #1513 "How to hide bubbles without hiding top label?"
I would like to hide a bubble and only use it's top label for custom text. How to do this?

Unfortunately this messes up the view:

    override func collectionView(collectionView: UICollectionView, layout collectionViewLayout: UICollectionViewLayout, sizeForItemAtIndexPath indexPath: NSIndexPath) -> CGSize {
        return CGSizeMake(0,0)
    }

[2016-03-25 17:45] MHX792 opened #1514 "JSQMessagesKeyboardControllerUserInfoKeyKeyboardDidChangeFrame returns nil in the userInfo dictionary"
I am trying to change a constraint when the keyboard is shown/hidden, but unfortunateley it crashes:

    override func viewDidLoad() {
        super.viewDidLoad()

        NSNotificationCenter.defaultCenter().addObserver(self, selector: Selector("keyboardWasShown:"), name:JSQMessagesKeyboardControllerNotificationKeyboardDidChangeFrame, object: nil)
    }

    func keyboardWasShown(notification: N

[2016-03-26 03:25] wanyue1215 opened #1515 "media MessageBubble"
when i received a media message , the messageBubble has wrong direction
<img width="249" alt="2016-03-26 11 24 03" src="https://cloud.githubusercontent.com/assets/15208431/14057784/55c1d412-f345-11e5-8ac0-c0c08602b102.png">

[2016-03-26 04:25] #1515 closed

[2016-03-26 17:22] jessesquires commented on #1510
Ah, if you are using a custom font, see: https://github.com/jessesquires/JSQMessagesViewController/issues/347#issuecomment-130533179

[2016-03-26 17:22] #1510 closed

[2016-03-26 19:18] MHX792 opened #1517 "Subclassing JSQMessageMediaData in Swift"
I am trying to create a custom message media data in Swift, but it keeps telling me:

`type 'CustomMedia' does not conform to protocol 'NSObjectProtocol'`

My code:

    class CustomMedia: JSQMessageMediaData {

    @objc func mediaView() -> UIView! {
        let mediaView = UIView()
        let label = UILabel(frame: CGRectMake(0, 0, 200, 21))
        label.center = CGPointMake(160, 284)

[2016-03-27 19:06] MHX792 commented on #1517
Ok, seems like it has to inhert from `NSObject`. Solved.

[2016-03-28 07:16] abdulvy commented on #1507
Since six days I have asked, No Answer, Please some one help me regarding this.

[2016-03-28 09:35] jasonlagaac commented on #1504
Here's some code that I have working based on your sample code :)

[Issue1504.zip](https://github.com/jessesquires/JSQMessagesViewController/files/191596/Issue1504.zip)

[2016-03-28 09:36] jasonlagaac commented on #1512
Do you have any sample code/project that can illustrate the problem?

[2016-03-28 21:47] Lilac911 opened #1518 "[NSNull _fastCStringContents:]"
I am receiving the following error every time I try to type any letters or numbers into a text field.
[NSNull _fastCStringContents:]: unrecognized selector sent to instance 0x10d28faf0
 *** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '-[NSNull _fastCStringContents:]: unrecognized selector sent to instance 0x10d28faf0'

What cause this problem ??

[2016-03-29 07:19] b-e-r-t-o commented on #1198
@jessesquires @joshuawilde Could you post a sample of how you made this work?

I feel like this could be really useful.

[2016-03-29 07:20] b-e-r-t-o commented on #1277
@zwang @Qingzhaowang  How did you get this to work? I checked #1198, but it's still not clear how these properties are set.

[2016-03-29 07:54] srinivasanVaradan commented on #1512
`

import Foundation
import JSQMessagesViewController
import DKImagePickerController

enum FBProfilePictureType:String
{
    case FB_LARGE_IMG = "normal",
         FB_SMALL_IMG  = "small",
         FB_LARGE_200_IMG = "large",
         FB_SQUARE_IMG  = "square"
}

enum MessageTypeEnum: String {
    case Text = "T",
    Picture = "P",
    Location = "L"
}

class ChatViewController: JSQMessagesViewCo

[2016-03-29 15:56] MHX792 commented on #1514
Anybody a clue?

[2016-03-29 20:23] eliburke opened #1519 "Add support for an accessory view to JSQMessagesCollectionViewCell"
<img width="326" alt="screen shot 2016-03-29 at 4 05 49 pm" src="https://cloud.githubusercontent.com/assets/2371768/14122318/459654d8-f5c9-11e5-8065-6e9fdf1c62ca.png">

@jessesquires I was playing around with adding a button next to some of my media views (similar to the "Forward" icon Facebook Messenger puts next to images), and I wondered if it was worth adding in the base implementation. I thin

[2016-03-29 23:27] eliburke commented on #1430
@otymartin You can also achieve this look by removing the border on the textview, setting the contentView's background white, and removing the left accessory. Then just set the right button to an image of your choosing.

<img width="384" alt="screen shot 2016-03-29 at 7 22 41 pm" src="https://cloud.githubusercontent.com/assets/2371768/14127133/aea51594-f5e3-11e5-9a2f-dc462a6bfd84.png">

[code]

[2016-03-30 00:03] mitchellporter commented on #441
@dim0v works perfectly even on iOS 9 ;)

[2016-03-30 15:18] eliburke commented on #1513
@MHX792 It sounds like you might want something like a "system message", right?
This isn't currently supported out of the box, but here are some issues that cover ways to accomplish it: #598, #321, #215, #89.
If you want to turn off avatars, or change the bubble masking, you will need to detect your custom label messages in messageBubbleImageDataForItemAtIndexPath and avatarImageDataForItemAtIndex

[2016-03-30 16:10] MHX792 opened #1521 "How to center custom JSQMessageMedia in Swift?"
I am trying to add a system message to `JSQMessagesViewController`. I chose to implement it as a `JSQMessageMedia`. It is shown in the view, but I have difficulties to center it.

The system message class:

    class ChatSystemMessage: NSObject, JSQMessageMediaData {

    @objc func mediaView() -> UIView! {
        let mediaView = UIView()
        let label = UILabel(frame: CGRectMake(0, 0, 200, 2

[2016-03-30 16:40] Liampronan commented on #1063
was running into the same UIInputSetHostView NSKVODeallocate issue as @klivin and @mrmarcsmith

@klivin's solution of updating the keyboardView to a strong property (from a weak property)  on JSQMessagesKeyboardController fixed it

@jessesquires and others any thoughts on this approach?

[2016-03-30 18:42] eliburke commented on #1521
You have two choices:
1) hack the autolayout constraints in your subclass's call to cellForItemAtIndexPath
2) create a custom cell
- subclass JSQMessagesCollectionViewCell (look at *Incoming and *Outgoing to see what you must customize)
- set up the xib file how you like with the messageBubbleContainer centered instead of pinned to the avatar view
- register the nib in viewDidLoad of your JSQMessa

[2016-03-30 18:46] eliburke commented on #1513
@MHX792 I'm guessing you opened #1521 to continue this issue?

[2016-03-30 19:35] marcioarantes-ww commented on #1497
I believe this is incorrect. As stated above JSQMessagesViewController works fine with the use of use_frameworks! flag in the podfile but this is not what I'm doing. JSQMessagesViewController is a dependency of my own pod not a project. I was able to compile my example app by updating JSQSystemSoundPlayer+JSQMessages to include @import JSQSystemSoundPlayer;

[2016-03-30 20:25] MHX792 commented on #1521
Thank you for your in-depth answer. I will look into it. Do you have any hints for possibility 1)? How do you access the auto layout constraints programmitcally?

[2016-03-30 21:04] eliburke commented on #1521
Constraints can be set programmatically between views, just make sure to clear the old ones first. Stackoverflow or Google can provide more info.

[2016-03-31 01:30] eliburke commented on #1487
@hemantkadam Can you clarify what you are asking for? Perhaps a mockup would help, or a screenshot from another app?
- Issue #681 has some screenshots and discussion on combining text and media. The short answer is... you can send them in succession, or you can create your own media type that combines the two.
- There is also labeling of media, as in PR #1520 (a work in progress)
- There is also I

[2016-03-31 01:57] Mackarous commented on #1497
Hey @marcioarantes-ww,

I should have elaborated further:

The reason this works is because you are importing `JSQMessagesViewController` as a dependency in your project. Making the change you suggested is specific to your project, and will actually break when using `JSQMessagesViewController` through a Podfile. The reason for that is because you are using frameworks in your Podfile which takes pr

[2016-03-31 03:38] jessesquires commented on #1430
thanks @eliburke ! :smile:

[2016-04-01 00:03] RamdhaSOi commented on #1266
Great great. Thankful

[2016-04-01 05:03] jessesquires commented on #1521
Thanks @eliburke ! :smile:

[2016-04-01 05:03] #1521 closed

[2016-04-01 05:03] jessesquires commented on #1266
Thanks all! :smile:

[2016-04-01 05:04] jessesquires commented on #1513
Thanks @eliburke ! :smile:

[2016-04-01 05:04] #1513 closed

[2016-04-01 05:04] jessesquires commented on #1504
Thanks @jasonlagaac ! :smile:

[2016-04-01 05:04] #1504 closed

[2016-04-01 05:05] jessesquires commented on #1518
Thanks @Lilac911 ! :smile:

This doesn't sound related to the library. Maybe there's an issue with your project? Can you provide any more information?

[2016-04-01 05:05] #1518 closed

[2016-04-01 08:19] sebastian-zarzycki-es commented on #1482
This is poorly documented, but eventually I've figured out that after assigning image, you have to call finishReceivingMessage()

[2016-04-01 11:16] happiehappie commented on #740
Is there any way to dodge this at the moment without changing the source code?

[2016-04-01 12:52] eliburke commented on #740
Can anyone who has experienced this ( @happiehappie, @Mkey85, @anas-ambri, @deptusto, @borishart, etc) show this bug using the demo project, or if you are able to repeat it with a particular image, provide the image? I've not ever seen it myself

[2016-04-01 15:01] happiehappie commented on #740
<img width="432" alt="screen shot 2016-04-01 at 10 59 26 pm" src="https://cloud.githubusercontent.com/assets/6497131/14210855/847b54b4-f85d-11e5-9ded-948ce3c09b47.png">
example
http://beta.getfingers.com/files/gifts/12/PonmtgF28J.png
http://beta.getfingers.com/files/gifts/5/7CBbirLWzk.png
http://beta.getfingers.com/files/gifts/9/Ekm9e08PZV.png
http://beta.getfingers.com/files/gifts/12/PonmtgF28J.p

[2016-04-01 15:02] happiehappie commented on #740
Also, can anyone share how @atfermin center her photomedia?

[2016-04-01 15:10] happiehappie commented on #740
Demo project:
<img width="432" alt="screen shot 2016-04-01 at 11 09 57 pm" src="https://cloud.githubusercontent.com/assets/6497131/14211122/eff4b5ae-f85e-11e5-96d4-0e15db44609b.png">

- (void)addPhotoMediaMessage
{   NSData *imageData = [NSData dataWithContentsOfURL:[NSURL URLWithString:@"http://beta.getfingers.com/files/gifts/12/PonmtgF28J.png"]];
    JSQPhotoMediaItem *photoItem = [[JSQPhotoMedi

[2016-04-01 16:42] jessesquires commented on #1482
@sebastian-zarzycki-es - this isn't quite correct, but has the same affect.

what you need to do is reload the specific item/section with the media if it is not available immediately.

[2016-04-01 16:44] sebastian-zarzycki-es commented on #1482
I've found no way to do just that (reloading a specific item).

[2016-04-01 17:35] liakhandrii commented on #1470
@McFriend have you fixed this issue? I'm experiencing the same insets bug, it would be nice to know your solution, if you have it.

[2016-04-01 17:43] McFriend commented on #1470
Hi. Yes. Check your cell for item or something like that. I was changing font after cell's size has been calculated. Use collectionViewLayout property to customize text.
I hope it's gonna help you.

[2016-04-01 17:54] jessesquires commented on #1482
UICollectionView has APIs for this. :smile:

https://developer.apple.com/library/ios/documentation/UIKit/Reference/UICollectionView_class/

[2016-04-02 01:50] jessesquires commented on #1470
Thanks @McFriend ! :smile:

These 2 layout properties should help:

http://cocoadocs.org/docsets/JSQMessagesViewController/7.2.0/Classes/JSQMessagesCollectionViewFlowLayout.html#//api/name/messageBubbleTextViewFrameInsets

http://cocoadocs.org/docsets/JSQMessagesViewController/7.2.0/Classes/JSQMessagesCollectionViewFlowLayout.html#//api/name/messageBubbleTextViewTextContainerInsets

[2016-04-02 04:51] batnom commented on #806
I had this problem after a modal view got popped then closed, tapping the input would bring up the keyboard but the input bar wouldn't shift up above it.

I had to add this in my viewWillAppear:

`[self.keyboardController beginListeningForKeyboard];`

And now it shifts up every time.

[2016-04-03 04:21] dudduss commented on #1504
Hi,

Weirdly enough, your code sample uses different files than mine and when I try to copy over the files in the current Github, my project errors out for some reason. Any tips on how to properly manually import the most recent version of this project?

[2016-04-04 00:16] francocorreasosa commented on #1508
Same problem here. I need to get this fixed 😢

[2016-04-04 12:59] eliburke commented on #740
@happiehappie your images are being clipped because JSQPhotoMediaItem sets the imageView's contentMode to UIViewContentModeScaleAspectFill. Per Apple's docs, "Some portion of the content may be clipped to fill the view’s bounds."

If you don't want to modify the JSQMessages source code, I'd suggest a simple subclass of the PhotoMediaItem. Call it HappyPhotoMediaItem 😜, and in it you can sub in you

[2016-04-04 14:38] jessesquires commented on #740
:+1: Sounds good to me!

[2016-04-04 15:35] happiehappie commented on #740
Sorry if this is answered elsewhere. But what about the centring >.<

On Monday, 4 April 2016, Jesse Squires <notifications@github.com> wrote:

--
Best Regards,
Stanley

[2016-04-04 15:51] eliburke commented on #740
Check out #1521 I posted an answer and linked a fork with cell contents centered. You can combine this technique with a mediaItem subclass to fix your image size constraints.

[2016-04-04 17:15] jessesquires commented on #1517
Thanks @MHX792 ! :smile:

[2016-04-04 17:15] #1517 closed

[2016-04-04 22:07] marcioarantes-ww commented on #1497
@Mackarous got it thanks for clarifying. Looking forward to your next update.

[2016-04-05 00:32] jessesquires commented on #1514
hey @MHX792 :smile:

it looks like the key you are accessing in the dictionary is `JSQMessagesKeyboardControllerNotificationKeyboardDidChangeFrame`.

it should be `JSQMessagesKeyboardControllerUserInfoKeyKeyboardDidChangeFrame` instead

[2016-04-05 00:32] #1514 closed

[2016-04-05 00:34] jessesquires commented on #1519
Sounds good to me! :+1:

I've put this in `8.0.0`.

[2016-04-05 00:37] jessesquires commented on #1063
Hey all -- will be working on this soon. Trying hard to get 7.2.1 finished and released. :blush:

[2016-04-05 00:40] jessesquires commented on #1508
Hey @ADevelopStudio -- can you post a screenshot?

[2016-04-05 00:41] jessesquires commented on #1508
Also, does this happen in the demo project?

[2016-04-05 01:00] jessesquires commented on #1497
Thanks @Mackarous ! :tada: :smile:

[2016-04-05 01:04] happiehappie commented on #740
Ok. I'll try to "give back" when I'm done. I think I'll go with option 2.
Since my team doesn't commit pods. Hence hacking the code isn't a solution
for me. Thanks for being helpful everyone :)

On Mon, 4 Apr 2016 at 11:51 PM, eliburke <notifications@github.com> wrote:

[2016-04-05 01:19] jessesquires commented on #740
@happiehappie

I *used* to not commit pods as well. I would **strongly** encourage that you do. If you do, then *at any point in time* you can checkout, build, and run with no extra steps. Will be useful when you need to revert changes where changesets depend on different pod versions.

[2016-04-05 02:02] happiehappie commented on #740
Unfortunately my boss doesn't think so, I'll try to convince him down the road :( Off topic: This is my mock. Hehe. Btw thanks for the awesome library @jessesquires
![chat](https://cloud.githubusercontent.com/assets/6497131/14269273/67ffc288-fb15-11e5-8864-b85a1427f139.png)

[2016-04-05 03:06] edwardvalentini commented on #1497
+1 for this issue :)

[2016-04-05 03:52] dangnguyenvu8893 opened #1525 "Can change animator when show new message?"
Hello, where i can change animation when get new message?

[2016-04-05 04:24] jessesquires commented on #740
Thanks @happiehappie ! :smile: Please keep reporting issues you find :blush:

[2016-04-05 04:25] jessesquires commented on #1525
Hey @dangnguyenvu8893 :smile:  - you'd have to implement this yourself. You can subclass the collection view layout.

[2016-04-05 04:25] #1525 closed

[2016-04-05 04:26] #1470 closed

[2016-04-05 04:29] jessesquires commented on #1469
Hey @maxiundtesa :smile:

This doc should help:
https://github.com/jessesquires/JSQMessagesViewController/blob/develop/Documentation/faq.md#need-customize-your-collection-view-cells

[2016-04-05 04:29] #1469 closed

[2016-04-05 04:30] jessesquires commented on #1484
Hey @paoloj7 :smile:

You first snippet looks correct. Have you compared your code with the demo project? That might help you track down the issue.

[2016-04-05 04:30] #1484 closed

[2016-04-05 04:31] jessesquires commented on #1474
Hey @aoguzhan :smile: -- sounds like an issue on your side.

Can you reproduce this in the demo project?

[2016-04-05 04:31] #1474 closed

[2016-04-05 08:29] kurokurosawa opened #1526 "UI TEST Crash Problem"
## Bug report

#### Expected behavior

I want to use UI test recording with JSQMessagesViewController.
I expexted Some code writing automatically at XCTestCase

#### Environment
OS Yosemite 10.10.5
Xcode 7.2.1
swift 2.1

JSQMessagesViewController
  - JSQMessagesViewController (7.2.0):
  - JSQSystemSoundPlayer (~> 2.0.1)

when I started recording and filled in toolbar with text
and pushed Send, Sim

[2016-04-05 11:42] happiehappie commented on #650
Sorry if this is a super amateur question but how do you add the bubble for medias in the first place

[2016-04-05 12:43] basawarajh-cuelogic commented on #810
Hi,
How to handle delete action in JSQMessageController, I have implemented method
override func collectionView(collectionView: JSQMessagesCollectionView!, didDeleteMessageAtIndexPath indexPath: NSIndexPath!) {

        self.collectionView?.deleteItemsAtIndexPaths([indexPath])

    }
Also override method

override func collectionView(collectionView: UICollectionView, shouldShowMenuForItemAtIndexPa

[2016-04-05 12:45] happiehappie opened #1530 "Combining photo media and text message"
Guys, I'm seriously sorry if this is answered or it's really that I haven't browse enough, but is there really any way to combine photomediaitem with my JSQMessage? Like this?
![img_0052](https://cloud.githubusercontent.com/assets/6497131/14282096/6184d0c4-fb6f-11e5-8963-60dc99a9e2f9.jpg)

[2016-04-05 12:56] basawarajh-cuelogic commented on #393
Hi,
How to handle delete action in JSQMessageController, I have implemented method

        override func collectionView(collectionView: JSQMessagesCollectionView!, didDeleteMessageAtIndexPath indexPath: NSIndexPath!) {
        self.collectionView?.deleteItemsAtIndexPaths([indexPath])
    }

Also override method

        override func collectionView(collectionView: UICollectionView, shouldShowMenu

[2016-04-05 13:00] basawarajh-cuelogic commented on #1279
Hi,
How to handle delete action in JSQMessageController, I have implemented method

        override func collectionView(collectionView: JSQMessagesCollectionView!, didDeleteMessageAtIndexPath indexPath: NSIndexPath!) {
        self.collectionView?.deleteItemsAtIndexPaths([indexPath])
    }

Also override method

        override func collectionView(collectionView: UICollectionView, shouldShowMenu

[2016-04-05 13:24] svtechnology commented on #1530
Extend the Photomediaitem and add those labels with constraints and that should work. You also need to add the padding and move the image rect. But yes, it's possible to get the same thing by subclassing.

PS: interested in the bottle on your desk ;)

[2016-04-05 13:28] svtechnology commented on #1530
Also, sorry for the pseudo code only.

[2016-04-05 13:31] happiehappie commented on #1530
That's my boss' one. I tried for half a day and not much progress. How do I
manipulate the bubble to fit my label for example. Sorry. Cause I'm really
super lost.
On Tue, 5 Apr 2016 at 9:28 PM, Vulcan <notifications@github.com> wrote:

[2016-04-05 13:49] eliburke commented on #1530
@svtechnology is right. You are going to have to create your own custom class. It really isn't hard to do.

If you are struggling with making it to work, you need to be more specific with your questions. For example, if the bubble is the wrong size, you need to change mediaViewDisplaySize to fit it.

Here's a starting point:  subclass JSQPhotoMediaItem. Add a property for your text. Override media

[2016-04-05 16:37] jessesquires commented on #1526
Thanks @kurokurosawa  ! :smile:

This doesn't seem specific to the library. StackOverflow is a more appropriate place to ask this question. :blush:

I'm going to close this issue, but the community should feel free to continue the discussion here.

### Other ways to get help:

* Ask on [StackOverflow](http://stackoverflow.com/questions/tagged/jsqmessagesviewcontroller) with the `jsqmessagesviewcon

[2016-04-05 16:37] #1526 closed

[2016-04-05 16:39] jessesquires commented on #1530
Also, if you need to adjust bubble sizes, you can provide a custom `bubbleSizeCalculator`

http://cocoadocs.org/docsets/JSQMessagesViewController/7.2.0/Classes/JSQMessagesCollectionViewFlowLayout.html#//api/name/bubbleSizeCalculator

[2016-04-05 16:39] #1530 closed

[2016-04-05 16:39] jessesquires commented on #1530
Thanks all for the answers! :smile:

[2016-04-05 16:56] templeman15 commented on #1198
@b-e-r-t-o @fabriziopera

Here is what I did:

1. Copy the nibs from pods -> JSQMessagesViewController -> Resources -> and grabbed the cell incoming and outgoing nibs, paste them into my project.

2. Rename the files to "JSQMessagesCollectionViewCellIncomingAvatarTop" and "JSQMessagesCollectionViewCellOutgoingAvatarTop" respectively

3. In each cells nib, remove the bottom constraint on the avatar

[2016-04-05 17:05] cboyle commented on #826
@chrisscholly I would love to get an example of how you did this - I've been trying to customize the typing indicator for a bit and am running into the same issue you posted above.

[2016-04-05 17:11] eliburke commented on #1198
@templeman15 thanks for the example!

[2016-04-05 18:04] eliburke commented on #393
@basawarajh-cuelogic In the future, instead of cross-posting your same problem to a bunch of closed issues, please open a single new issue.

Without seeing the crash, I'm not sure what you are doing wrong. But I think you need to call registerMenuAction on "delete:". See #1282 for more information.

[2016-04-06 12:53] eliburke commented on #1487
@hemantkadam Sadly there isn't a team of paid developers working to make this look as great as WhatsApp 😜. Perhaps you can publish your MediaItem class for folks to collaborate on and improve.

[2016-04-06 14:07] svtechnology commented on #1487
You need to add some blur to the label background, change the colour to black and that should be a fine start at refinement. Even better would be what @eliburke suggested. Submit a PR and we can probably improve on what you already have.

[2016-04-06 14:54] jessesquires commented on #1487
:+1:

[2016-04-06 14:54] #1487 closed

[2016-04-06 14:59] jessesquires commented on #1049
Completed in #1495

[2016-04-06 14:59] #1049 closed

[2016-04-06 16:27] jessesquires opened #1531 "Update demo project for AudioMediaItem"
Follow up from #1495

We added a `-addAudioMediaMessage` method, :+1:

Let's update the actionsheet to simulate sending an audio item.

Follow existing pattern for sending photo/location/video.

1. Tap :paperclip: icon
2. Tap "Send audio"

[2016-04-06 16:33] jessesquires commented on #1531
@eliburke — Be sure to pull the latest. I pushed a couple minor commits to cleanup some of the audio stuff.

Mostly just formatting, docs, and nullability.

See d2e4a06115666beb89f9730b11d93e42c0f00177 and 6873264627c740022b8308e72898f65d2ecb7e70

:smile: A few small notes:

- Always prefer `self.property` except inside `init` and `dealloc`
- I made `JSQAudioMediaViewAttributes` immutable and adde

[2016-04-06 20:26] sebastianludwig commented on #810
What does the exception message say? Where and when exactly does the app crash?

[2016-04-07 07:04] thakurdDev commented on #492
In IOS 7 scrolling was working perfect but above IOS 7 scrolling is choopy
and i found a solution for that
Use Below Method in your custom UICollectionview Cell

- (UICollectionViewLayoutAttributes *)preferredLayoutAttributesFittingAttributes:(UICollectionViewLayoutAttributes *)layoutAttributes
{
    return layoutAttributes;
}

[2016-04-07 10:07] brokeniceinteractive opened #1532 "Scroll slow with some mediaPhotoItem"
Hi, i have a problem with the scroll when in my chat there are some mediaPhotoItem, the scroll is slow and not fluid, i tried to async load the image but i have the same problem, any ideas?

[2016-04-07 13:03] eliburke commented on #1532
@brokeniceinteractive without a better explanation of the problem it's hard for anyone to diagnose. Does the problem occur with only images or are you mixing text and images?
If you replace your async images with local copies loaded from your project is it still slow?
Are you downloading your async images in the background using something like SDWebImage or AFNetworking?
Can you demonstrate the sl

[2016-04-07 17:35] eliburke commented on #1216
Here are some things I'm interested in adding:
* carthage support
* keep the ObjC demo. i'm willing to maintain it. I don't think Swift adaptation is high enough yet, and it will likely cut down on questions
* an optional double-height inputToolbar that supports multiple input media types. I think Messenger does a great job with their input UI
* multi-select support for the collection view
* outle

[2016-04-07 18:04] jessesquires commented on #1216
:+1: :+1: :+1: :+1:

[2016-04-08 07:45] chinnuios opened #1533 "how to create custom circular progress button on image ?"
Hi, i need to create custom circular progress button on image (like whatsapp) ?? please tell me

[2016-04-08 12:01] chrisscholly commented on #1497
I have this issue and can't resolve it... :(
![capture d ecran 2016-04-08 a 14 00 38](https://cloud.githubusercontent.com/assets/26509/14383011/6b34e7f6-fd92-11e5-8511-8562391a294f.png)

[2016-04-08 12:17] chrisscholly commented on #1497
finally works with cocoapods 0.39.0. Do not use beta :p

[2016-04-08 13:50] jessesquires commented on #1533
Thanks @chinnuios ! :smile:

This doesn't seem specific to the library. StackOverflow is a more appropriate place to ask this question. :blush:

I'm going to close this issue, but the community should feel free to continue the discussion here.

### Other ways to get help:

* Ask on [StackOverflow](http://stackoverflow.com/questions/tagged/jsqmessagesviewcontroller) with the `jsqmessagesviewcontrol

[2016-04-08 13:50] #1533 closed

[2016-04-08 21:28] dhint4 opened #1534 "Different avatar sizes for each cell 💪😎👊"
Is it possible anymore to have different avatar sizes for each cell? Basically, anytime a message fails to send, I am wanting to place an exclamation mark on the right side of the cell like iMessage does in this photo:

![common-ios-9-problems-and-solutions10](https://cloud.githubusercontent.com/assets/9689335/14397979/42c46abc-fda6-11e5-88b1-9fa73b18e7be.jpg)

However, I do not want previous cell

[2016-04-08 23:51] jessesquires commented on #1534
Thanks @dhint4 ! :smile:

You didn't miss anything — unfortunately, this kind of behavior isn't supported right now.

We might get this in the 8.0 release though

[2016-04-08 23:51] #1534 closed

[2016-04-10 17:21] Reminouche commented on #1104
Any new solutions ?

[2016-04-10 17:23] DBL-Lee opened #1535 "How to change vertical spacing between cells?"
I think this should be a stupid question but I cannot find relevant method or property in layout classes. What is the best way to change the vertical spacing between two cells?

[2016-04-10 17:24] #1535 closed

[2016-04-10 17:26] DBL-Lee commented on #1535
I was thinking too much about constraints. It is just minimumlinespacing of the layout.

[2016-04-10 17:29] Reminouche commented on #958
I have the same problem, any new solutions ?

[2016-04-10 17:55] jessesquires commented on #1535
Thanks @DBL-Lee ! :smile:

[2016-04-10 19:20] ryangrimm opened #1536 "Allow the user to provide a custom UIView for a message"
My current project has a need for custom views inside message bubbles. The most pressing need at the moment is to include a web view. I got the the pull request "Added HTML Media Message Type" (#917) working with the latest from develop and also fixed up a few of it's shortcomings. However, I ran up against a few underlying assumptions with media items.

One primary goal is to have the custom view

[2016-04-10 20:24] jessesquires commented on #1536
Thanks @ryangrimm ! :smile:

This is definitely a feature we're considering for v8.0.

However, for now, you could simply include a message bubble view as part of your custom media view.

[2016-04-10 21:04] ryangrimm commented on #1536
I hadn't thought about using the message bubble view in a context like that. That probably would have gotten me far enough along for the time being. But, as you can see by the pull request I already spent the time to cook it up. At least it was fun in the process! Let me know if it looks like something that you'd like to fold into v8. Happy to make changes if you'd like me to.

[2016-04-11 04:19] eliburke commented on #958
@Reminouche There is no problem. This is standard view controller programming. You need to create a container view controller class that adds your map view with your desired frame, and the chat view in another frame. As @jessesquires suggested, if you aren't sure how to embed view controllers, stack overflow is a good place to look.

[2016-04-11 22:57] rrphenix commented on #1104
Did anyone ever arrive at a solution for this?

[2016-04-12 10:47] brokeniceinteractive opened #1538 "Wrong size for custom mediaItem"
Hi, i have 2 custom media items:

jsqStatusMediaItem - for message status, and it has this size:
`override func mediaViewDisplaySize() -> CGSize {
        return CGSize(width: UIScreen.mainScreen().bounds.width-10,height: 20)
}`

and jsqLoadingPhotoMediaItem - for photo with progress bar, this is the size:
`override func mediaViewDisplaySize() -> CGSize {
        // The white space around the mess

[2016-04-12 11:58] yadavanand opened #1539 "How to fix incoming as well as the outgoing bubble on right side of JSQMessageViewController swift2"
## New issue checklist

- [ ] I have read all of the [`README`](https://github.com/jessesquires/JSQMessagesViewController/blob/develop/README.md), [documentation](http://cocoadocs.org/docsets/JSQMessagesViewController/), and [FAQ](https://github.com/jessesquires/JSQMessagesViewController/blob/develop/Documentation/faq.md).
- [ ] I have reviewed the [contributing guidelines](https://github.com/jess

[2016-04-12 12:02] yadavanand commented on #1539
Also i am getting both the incoming as well as the outgoing bubble on right side of my view, can you please help me with that.
![simulator screen shot 12-apr-2016 5 27 42 pm](https://cloud.githubusercontent.com/assets/8654980/14459237/58efd430-00d4-11e6-8284-6a9ef067e461.png)

[2016-04-12 12:23] yadavanand commented on #1539
One more thing if you could tell me how to access textFiled of JSQMessageViewController using swift2

[2016-04-12 12:35] eliburke commented on #1539
Hey @yadavanand  :smile:

Please see the following:
https://github.com/jessesquires/JSQMessagesViewController/issues?utf8=✓&q=%5Bmessage+bubble+wrong+side%5D+in%3Atitle+

As for the textView, it's exactly the same as Objective-C. From your JSQMessagesViewController subclass, just access inputToolbar.contentView.textView

[2016-04-12 12:35] #1539 closed

[2016-04-12 13:07] yadavanand commented on #1539
@eliburke  :-)
Thank you for your reply with respect to above issues,i figured out the solution for it with help of reference given by you.

[2016-04-12 13:12] yadavanand commented on #1539
@eliburke One more thing i wanted to know if we can tell me how to detect a pull down in JSQMessageViewController.

[2016-04-12 14:16] brokeniceinteractive commented on #1538
#980 this is the solution!

[2016-04-12 14:33] eliburke commented on #1538
Thanks @brokeniceinteractive! 😄

[2016-04-12 14:33] #1538 closed

[2016-04-12 17:53] eliburke commented on #1531
@jessesquires Sorry I missed this task in the notification spam last week.

Re your change to the init methods in [d2e4a6](https://github.com/jessesquires/JSQMessagesViewController/commit/d2e4a06115666beb89f9730b11d93e42c0f00177) I feel like that makes the default behavior more difficult to override. If someone simply wants to tweak the font or color, they have to pull in all that other stuff as w

[2016-04-12 18:17] jessesquires commented on #1531
No worries! :+1:

Great point. Ok -- let's remove `readonly` from properties, and override the setters to `NSParameterAssert(value != nil)`.

- Generally, I think preferring immutability is best. It greatly simplifies the programming and threading models. But, you make a good point that it negatively impacts usability here.
- API breakage: yes, this is always a concern. Generally, the plus side he

[2016-04-12 18:17] jessesquires commented on #1531
fixed in #1540

[2016-04-12 18:17] #1531 closed

[2016-04-13 02:06] eliburke commented on #1531
After removing readonly, that cool new macro NS_ASSUME_NONNULL_BEGIN triggers nil warnings. If you feel strongly I'll add the asserts, but IMO it's unneeded bloat.

<img width="836" alt="screen shot 2016-04-12 at 9 44 12 pm" src="https://cloud.githubusercontent.com/assets/2371768/14480580/740a196e-00f8-11e6-9550-073f42c2b25a.png">

[2016-04-13 03:12] jessesquires commented on #1531
Can `audioCategory` be nil?

If so, we can make it `@property (nonatomic, nullable) ...`

Otherwise, all non-nullable properties should assert

[2016-04-13 03:41] GianniCarlo opened #1541 "Demo app - crash on simulating incoming audio message"
## New issue checklist

- [x] I have read all of the [`README`](https://github.com/jessesquires/JSQMessagesViewController/blob/develop/README.md), [documentation](http://cocoadocs.org/docsets/JSQMessagesViewController/), and [FAQ](https://github.com/jessesquires/JSQMessagesViewController/blob/develop/Documentation/faq.md).
- [x] I have reviewed the [contributing guidelines](https://github.com/jess

[2016-04-13 04:59] #1541 closed

[2016-04-13 08:05] KushThakkar opened #1543 "Add Custom view instead of KeyBoard."
How can display custom view instead of KeyBoard?

[2016-04-13 08:27] svtechnology commented on #1543
Hi KushThakkar,

This question of yours is more suited for SO (stackoverflow.com) than here since it is not related to the library.

Hint: Look into inputView and inputAccessoryView.

[2016-04-13 10:08] ZetrixWeb-iOS opened #1544 "Change UITextView Frame Dynamically."
i don't want to use keyboard for messages i have a predefined textMessages that will be selected from table so how can i set UITextView frame above on that table?

[2016-04-13 13:35] yadavanand opened #1545 "Can we disable scrollToBottomAnimated for particular instance in JSQMessageViewController"
Can i prevent the view from scrolling down as per our requirement.
  self.scrollToBottomAnimated(true /false). false value also does not prevent view from scrolling down
This  #362 issue is not helping out
self.automaticallyScrollsToMostRecentMessage = NO
xcode7.3 quick help recommends to pass a boolean value which too is of not use .
Please help me i want prevent messages view to school to the bo

[2016-04-13 15:38] jessesquires commented on #1543
Thanks @KushThakkar and @svtechnology ! :smile:

[2016-04-13 15:38] #1543 closed

[2016-04-13 16:42] eliburke commented on #1545
@yadavanand can you clarify: are you asking how to prevent scrolling when the keyboard is shown? Or are you saying that self.scrollToBottomAnimated does not work for you?

Can you describe steps to reproduce your problem in the demo project? If I turn off self.automaticallyScrollsToMostRecentMessage it seems to behave correctly.

[2016-04-13 18:57] yadavanand commented on #1545
@eliburke The steps for my problem are as follows :

1. I load messages in JSQMessageViewController  in batches of 15 messages (last 15 messages first and  then when i detect pull down i have to reload 15 more which are earlier than first 15  total of 30, then on 3rd pull down same thing is repeated and so on).
2. Entire process is working properly(Both pull down and reloading of messages).
3. The

[2016-04-14 00:42] rosslebeau opened #1546 "Line to mark new/unread messages"
I'm using this library in an app, and we want to add a "New Messages" line, something like Slack has. I know this library wants to mimic iOS Messages (which does not have this), but I think that since it is so widely-used and extensible, other developers may also want this feature.

I'm going to have to implement this either way, so I figured it would be cool to see if this is something you want i

[2016-04-14 01:14] jessesquires commented on #1546
Thanks @rosslebeau ! :smile:

I'm actually not sure if I'm familiar with what you're describing in Slack — can you post a screenshot?

[2016-04-14 01:21] rosslebeau commented on #1546
Sure, here's an example:

<img width="700" alt="screen shot 2016-04-13 at 21 17 40" src="https://cloud.githubusercontent.com/assets/1470871/14514287/42a1defa-01bd-11e6-8399-f4c500f0939a.png">

I find this very useful for chat threads which have important messages you don't want to miss (like for work, or in my case, medical correspondence).

[2016-04-14 01:43] jessesquires commented on #1546
Ahh I see. :+1:

So, right now this isn't supported for one major reason:

The collectionView in JSQMessages is item-based, not section-based. That is, it is a single section with many items, rather than having 1 item per section with multiple sections.

If it were section-based, this would be trivial. You could implement your own supplementary footer view and return it.

However, v8.0 of the libr

[2016-04-14 02:08] rosslebeau commented on #1546
Oh, I didn't think the library would handle any logic around finding the old/new ones. I figured there would be some kind of delegate call to ask for the index of the last-read message when reloading data.

Yeah, with sections this will be simple, and I'm glad you're going that way...unfortunately I'm not sure I can wait until 8.0 is released. I guess if it's not usable by the time I need this, I'

[2016-04-14 02:08] #1546 closed

[2016-04-14 04:30] jessesquires commented on #1546
Thanks @rosslebeau ! :smile:

Sorry it's not ready yet! :sweat_smile: You can follow the progress on v8.0 here: https://github.com/jessesquires/JSQMessagesViewController/labels/new%20release%20roadmap

[2016-04-14 08:12] charliewilliams commented on #606
Could do this by refactoring to allow users to register their own nib for the footer view— then you can grab and configure it yourself to show user avatar, user name, etc.

I'd be happy to give this a shot. If you want to have a quick chat about how you'd like to have it done that could get things going in the right direction.

[2016-04-14 09:53] pqhuy87it opened #1547 "Group avatar incoming like skype"
![simulator screen shot apr 14 2016 4 43 12 pm](https://cloud.githubusercontent.com/assets/5575899/14524050/c75c934e-0260-11e6-9ff9-f0e8ed10f109.png)
![img_0099](https://cloud.githubusercontent.com/assets/5575899/14524066/d66beea2-0260-11e6-8018-a0787291da9a.PNG)
Can i group avatar incoming and when scrolling up, it lock on top like in skype ?

[2016-04-14 10:39] charliewilliams commented on #452
I am seeing this on the latest build. Manually setting `showLoadEarlierMessagesHeader = true` in `viewDidLoad` seems to fix it, although since this value defaults to `true` that seems like unexpected behavior?

[2016-04-14 12:01] eliburke commented on #1547
@pqhuy87it you can do this yourself by checking previous messages in the collection's delegate methods:

- messageBubbleImageDataForItemAtIndexPath
- avatarImageDataForItemAtIndexPath
- attributedTextForCellTopLabelAtIndexPath
- attributedTextForMessageBubbleTopLabelAtIndexPath
- attributedTextForCellBottomLabelAtIndexPath

Here's an example from the Demo project:
[code]

[2016-04-14 12:01] #1547 closed

[2016-04-14 13:27] eliburke commented on #1545
@yadavanand if I understand you correctly, this doesn't sound like a problem with scrollToBottomAnimated-- it's the normal behavior of calling [self.collectionView reloadData]

How you solve it is going to depend on your data source, but will probably involve calling            `[self.collectionView scrollToItemAtIndexPath:messageIndex atScrollPosition:UICollectionViewScrollPositionCenteredVertica

[2016-04-14 13:27] #1545 closed

[2016-04-14 13:37] pqhuy87it commented on #1547
@eliburke thank you i grouped avatar incoming but when scrolling up avatar disappear, how can i lock it on top like skype ?
![simulator screen shot apr 14 2016 8 36 52 pm](https://cloud.githubusercontent.com/assets/5575899/14529863/ab692d30-0280-11e6-9c53-6e16a105c04d.png)

[2016-04-14 13:41] pqhuy87it commented on #1547
with tableview i can custom header for resolving this
![simulator screen shot apr 14 2016 8 39 16 pm](https://cloud.githubusercontent.com/assets/5575899/14529977/19d9f0a6-0281-11e6-9abc-ab9519cb5cdd.png)

[2016-04-14 14:17] simpleg opened #1548 "Group messages in the same bubble"
Hello,

I'm making an iOS tchat application using JSQMessagesViewController 7.2.0, and I'm looking for grouping messages in the same bubble, I found this old issue [https://github.com/jessesquires/JSQMessagesViewController/issues/203] talking about it.
But I'm totally lost on how I can do that.
I known it not really an issue, it's a help request, could you give me some hint on how to do that with

[2016-04-14 14:25] eliburke commented on #1547
@pqhuy87it The idea of using a custom header is good, but right now the whole collection uses just one section. According to #1546 multiple sections is a feature planned for the next major release.

You could try using `[self.collectionView indexPathsForVisibleItems]` to get a list of visible cells and write some code to guarantee that you always show an Avatar.

[2016-04-14 14:45] eliburke commented on #1548
@simpleg For this version of the library, you have a couple of options:

- If you want to group messages in **the same bubble** you will probably need to create your own media item, manually combine messages, and lay them out in a UIView that you return.
- If you want to have separate bubbles that appear close together, you remove the top / bottom labels for any cells that should appear grouped by

[2016-04-14 14:45] #1548 closed

[2016-04-14 15:19] pqhuy87it commented on #1547
@eliburke thank you for advice, i will try that way.

[2016-04-14 16:05] jessesquires commented on #606
@charliewilliams - that would be awesome :+1: we can discuss details here.

I think the todo items are:

- Add avatar and top label to the existing typing indicator footer view
- Add method to configure this, ask for an `avatarImage` and `topLabelText`

[2016-04-14 17:54] charliewilliams commented on #606
Good shout! That shouldn't be difficult.

[2016-04-14 18:19] charliewilliams commented on #606
Actually @jessesquires looking at this we'd want a text typing indicator to be a different height than the bubble indicator, to hide the bubble and avatar views, and (possibly) to handle alignment differently. This all seems like it might be better to define a protocol that both footerViews can adhere to, or at the very least allow registering a subclass nib to replace the built-in one.

Possibly

[2016-04-15 01:20] jessesquires commented on #606
Hm... I think we should require the colors, and only allow the avatar to be optional. If an avatar isn't provided, then default to the existing behavior, without the avatar.

[2016-04-15 01:23] jessesquires commented on #606
Oh -- we should also coordinate this work with #1524

[2016-04-15 12:44] BhavinBhadani commented on #1482
@macbaszii same problem here .. did you find anything????

[2016-04-15 13:02] happiehappie opened #1551 "Adding timestamp to cell"
Hi again guys,

I need to add timestamp into chat bubble now. Like this
![img_0272](https://cloud.githubusercontent.com/assets/6497131/14562036/fd9346fa-034c-11e6-911d-dfa851206d0a.jpg)
![img_0273](https://cloud.githubusercontent.com/assets/6497131/14562037/fd963202-034c-11e6-93f6-8dd02c63510c.jpg)
I referred to the documentation and in

    override func collectionView(collectionView: UICollectio

[2016-04-15 13:31] khunshan commented on #1291
@GianniCarlo  can you be more specific how it provides and to access it? I just started using. :8ball:

[2016-04-15 13:38] davepatterson commented on #1291
@khunshan You can find details of its implementation in the [docs](http://jessesquires.com/JSQMessagesViewController/)

[2016-04-15 14:03] simpleg commented on #1548
Thank you for your answer I will try :)

[2016-04-15 14:24] SergeyOleynich commented on #826
@cboyle I do next steps
1 - Create Cocoa Touch file subclass JSQMessagesTypingIndicatorFooterView.
2 - In this file override class methods nib and footerReuseIdentifier.
3 - Create xib file and connect it to my file (subclass from JSQMessagesTypingIndicatorFooterView).
4 - In my class (subclass from JSQMessagesViewController) I override
- (UICollectionReusableView *)collectionView:(JSQMessagesColl

[2016-04-15 15:31] chrisscholly commented on #826
thx @SergeyOleynich for answering! I do the same :)

[2016-04-15 16:16] khunshan commented on #1291
@davepatterson thanks

[2016-04-17 10:01] macbaszii commented on #1482
@BhavinBhadani Did you forget to override method call `mediaView` and return the image view ? It is defined on JSQMediaItem Protocol.

[2016-04-17 19:40] IceFloe commented on #797
@jessesquires What do you think about adding some info about layout to mediaViewDisplaySize, it is really hard to find max bubble width for example. Can we add something like this? I can extend JSQMessageMediaData and JSQMessagesBubblesSizeCalculator for this, but it will be much easier to have this info in the mediaViewDisplaySize.

[2016-04-18 04:35] BhavinBhadani commented on #1482
@macbaszii  this is what I have done it ...

           JSQPhotoMediaItem *photoItem = [[JSQPhotoMediaItem alloc] initWithImage:img.image];
            JSQMessage *photoMessage = [JSQMessage messageWithSenderId:self.senderId
                                                           displayName:self.senderDisplayName
                                                                 media:photoItem]

[2016-04-18 05:27] macbaszii commented on #1482
@BhavinBhadani Have you written this ?

[code]

[2016-04-18 05:28] BhavinBhadani commented on #1482
@macbaszii no ... let me try it ... thanx

[2016-04-18 05:30] macbaszii commented on #1482
This is my class if you wanted

[code]

[2016-04-18 11:10] papay0 commented on #1458
Is that working?
I implemented the two functions from JSQMessagesViewControllerScrollingDelegate, but I can't figure out why it is not working :/

[2016-04-18 11:18] papay0 commented on #1458
Is that working?
I implemented the two functions of `JSQMessagesViewControllerScrollingDelegate`, I set the delegate, but I can't figure out why it's still scroll to bottom every time :/

`isLastCellVisible` is always `true` whereas in reality it's not

[2016-04-18 19:20] Daltron commented on #1534
@jessesquires Thanks for the quick response. It's tremendously appreciated! 😄

[2016-04-18 23:06] francocorreasosa commented on #1508
Is there any advance with this? I have stuck my project because of this.

[2016-04-19 08:12] lbanders commented on #1458
Hi Arthur

I actually did a bugfix, but it has not been merged to this pullrequest yet.
You can see the change on this commit
https://github.com/jessesquires/JSQMessagesViewController/pull/1489/commits/97185d0017a180b35e05bae2fd7ffa8179d26275
That should solve your issue :)

/Leif

On Mon, Apr 18, 2016 at 3:18 PM, Arthur Papailhau <notifications@github.com>
wrote:

[2016-04-19 12:12] papay0 commented on #1458
😃👍
Thanks!
😃👍

[2016-04-20 01:06] eliburke commented on #1232
@csontosgabor @mmiroslav @tomasicg @akki7017
I can see how to cause this by calling `[self.inputToolbar.contentView.textView removeFromSuperview];` from within the Chat view controller.

Is there a legitimate need to remove the textView in this manner? Do any of you have a solution?

[2016-04-20 14:15] eliburke opened #1554 "Autocorrect bubble sometimes appears below keyboard when suggestions are closed"
When autocorrect suggestions bar is closed, and the input textView is 1-2 lines high, the floating autocorrect bubble appears below my toolbar and under the keyboard:

![autocorrect](https://cloud.githubusercontent.com/assets/2371768/14677165/7144efe2-06de-11e6-8a25-ad89c2925ee3.gif)

I'm using the stock JSQMessagesComposerTextView, but I can't seem to reproduce this in the Demo project, so it's p

[2016-04-20 17:38] deyil opened #1555 "Cells resize after I open an URL"
When I click on a link in a message bubble and then I return to my app, the cells stretch. Has anyone noticed this issue?
### General information
- Library version(s): 7.2.0
- iOS version(s): iOS 9.3
- Devices/Simulators affected: iPhone 6S Plus
#### Expected behavior

Cells should not resize when you open links

#### Actual behavior

Cells resize when you open links

#### Steps to reproduce

Open

[2016-04-21 03:22] nguyenpham opened #1556 "Totally disorder displaying"
Have seen bellow screen few times. Cannot reproduce in purpose. No clue / idea why it happened. Has anyone seen same screen or have idea to check / fix? Thanks

![img_2395](https://cloud.githubusercontent.com/assets/1370755/14696974/30b84b96-07c3-11e6-809d-50093c39c6f1.PNG)

[2016-04-21 09:03] BhavinBhadani commented on #1482
@macbaszii the problem is in setting avatar pf user ... it also referenced UIImage ...so how to set image with url there ...

- (id<JSQMessageAvatarImageDataSource>)collectionView:(JSQMessagesCollectionView *)collectionView avatarImageDataForItemAtIndexPath:(NSIndexPath *)indexPath{
    JSQMessage *message = [arrChatMessage objectAtIndex:indexPath.item];
    UIImageView *img = [[UIImageView alloc]

[2016-04-21 13:45] ftp27 opened #1557 "Multiple attachments"
Are you planning implementing feature to support multiple attachments with text in single message? Or is this already in library or/and I can implement this feature myself (if so, please point out how is this achievable)

[2016-04-21 14:21] eliburke commented on #1557
@ftp27 In the future, please use the search feature to look at existing issues before opening new ones.  😜 This is discussed in issues #681 #809 #1487 #1536 and #1548. There is also PR #1520 for labeled messages, and #1537 for custom view messages.

To answer your questions: this is not already available, but you can definitely implement it using custom mediaView cells. Start by reviewing the vari

[2016-04-21 16:29] #1557 closed

[2016-04-21 16:30] jessesquires commented on #1554
Weird. Maybe this is an iOS bug?

[2016-04-21 17:57] eliburke commented on #1554
There's a lot of old information on StackOverflow, but most of it dates back to 2011-2013, leading me to think that there used to be a (more common) OS bug Apple fixed.

Most of the proposed fixes involved disabling scroll or walking the view hierarchy to fiddle with the autocorrect view, but this [stackoverflow](http://stackoverflow.com/questions/1977249/how-to-move-uitextview-correction-suggesti

[2016-04-21 19:09] ftp27 commented on #1557
Thanks for your quick reply,

I could use custom mediaView cells, but will they help me? I have a feeling these attachments must by placed as a preview above an input field. Am I right?

[2016-04-21 20:23] eliburke commented on #1557
I can't tell if you are asking about the layout of the mediaView, or the input of attachments into the input text view. If you want to allow the user to paste multiple images, look at #1516 for the paste support.

Once you have the input, it's up to you to figure out how to serialize text+images into a combo message and render it into a mediaView.

[2016-04-22 04:25] martintjandra commented on #678
If it is me, I will have an NSMutableDictionary that map between senderId and the related JSQ avatar image. Everytime the chatroom request new avatar image from new user that join the chat room that my NSMutableDictionary doesn't have, I will create a JSQ avatar with placeholder, while the avatar image and avatar highlight image is requested from SDWebImage. That way, when the image finally receiv

[2016-04-22 11:09] appleios commented on #492
@thakurdDev it will still have this little jitters, even with this "optimization".

Seems that you can avoid jitters when using autolatout (I've created a simple collection view with bubbles and it jitters when bubbles should be resized from bigger to smaller or vice versa; on low scroll speed as described by @galambalazs). Manual layout is not an easy thing to implement correctly, but smooth scro

[2016-04-23 16:10] siliconprime-ninhvo opened #1558 "Input toolbar does not show up"
Hi
I add a contact selection bar at the top of the view controller (like iMessages). The input toolbar does not show up when i tap on the searchbar to search contacts! Can you help for this?

Thanks
Ninh

[2016-04-24 16:12] DBL-Lee commented on #1100
@dealaus How did you resolve this problem? I am having the same problem here.

[2016-04-24 17:07] DBL-Lee opened #1559 "Best way to add a subview to collection view cell"
What I want to do is when I send a message, it comes up as a collectionview cell with an activity indicator spinning beside the message bubble and when the message is finished sending, the activity indicator disappears if success or another button appears in place if failed.

What is the best way to do this?

I am thinking of adding subviews in `cellforrowatindexPath` but it seems not appearing. I

[2016-04-24 18:17] eliburke commented on #1559
Check out #1519 and see if it helps

[2016-04-25 04:11] srinathp90 commented on #909
@nikunjsilicon Did you implemented image uploading..? Please help me here.

[2016-04-25 04:25] #1559 closed

[2016-04-25 05:09] nikunjsilicon commented on #909
@srinathp90 sorry, not integrate custom image uploading with indicator like what’s up. But we are sending image to our server and load the url into the message list view. Nothing more.

[2016-04-25 11:23] srinathp90 commented on #909
@nikunjsilicon  I want to show progress while downloading image.. is it possible?

[2016-04-25 12:52] DBL-Lee commented on #1559
@eliburke Thank you very much! It's exactly what I was thinking of. I should add the subview to contentview of cell instead of directly to the cell.

[2016-04-25 12:54] eliburke commented on #1559
👍 glad to hear it was helpful.

[2016-04-26 02:22] francocorreasosa commented on #1508
This is exactly what is happening:
![sc](https://openmerchantaccount.com/img2/fjhocuifhdisugfhfdlighfudg.gif)

[2016-04-26 13:06] DBL-Lee commented on #1519
@eliburke If I want to change this accessory based on message type, how could I get a reference from `cellForRowAtIndexPath` of the current accessory view so I could remove the previous one and add a new one?

[2016-04-26 14:54] eliburke commented on #1519
I guess I should have more explicitly said "this is a hack" -- I was just prototyping the functionality.

The best solution is probably to add a UIView to the xib for the incoming and outgoing cells, and add an outlet in your JSQMessageData subclass. Then in cellForRowAtIndexPath add a button to the new view. If you store the current button type in your JSQMessageData, you can use that to determin

[2016-04-26 17:03] eliburke commented on #817
I just triggered this problem inadvertently and it took me a good couple hours to figure out the cause. While debugging an autolayout bug, I mistakenly turned off autoresizing in the navigation controller:
`self.navigationController.view.translatesAutoresizingMaskIntoConstraints = NO;`
Setting translatesAutoresizingMaskIntoConstraints = NO in the JSQMessagesViewController class prevents the NSLayo

[2016-04-27 10:24] pprravinn commented on #1536
i am using bar graphs programatically in my project so, is there any way to put a custom view into this library so i can put my graph code on it and show it on the the view  like addPhotoMediaMessage ??

[2016-04-27 18:49] Insider77 commented on #1097
add this lines to JSQMessagesCollectionViewFlowLayout.m
[code]

and this lines to your view controller instead of [self finishSendingMessageAnimated:YES];

[code]

P.S. of course you can use any another transforms in initialLayoutAttributesForAppearingItemAtIndexPath

[2016-04-28 10:21] NuelNikhil opened #1561 "Date not showing on top of chat Bubble!"
It's my first attempt with iOS app development and it is a chat application. I found your beautiful library for Chat UI. Now I am able to set chat bubbles for messages but I don't see any date on top of my chat bubble.

What I Did

[code]
I am using Swift and I don't know objective-c.I am getting my date in console but no in my viewcontroller. Do I need anything more for to get the Date on top of

[2016-04-28 13:59] khunshan opened #1562 "Change title of header view UIButton when pressed."
How can I change text to 'Fetching' and back to 'Load More' when fetched?

[2016-04-28 14:08] antoniotinto commented on #332
@jessesquires is this still the quickest way to add borders to the bubble?
Thanks!

[2016-04-28 16:10] eliburke commented on #1562
@khunshan @GianniCarlo posted a great set of directions on customizing the JSQMessagesLoadEarlierHeaderView in issue #1129

As for the mechanics of the changing the text, you can use the JSQMessagesLoadEarlierHeaderView delegate to detect button press, change the button title, start the fetch, and when you are done fetching, asynchronously change it back. If you aren't using asynchronous blocks, y

[2016-04-28 16:10] #1562 closed

[2016-04-28 16:21] eliburke commented on #332
@antoniotinto the library does not provide a way to independently set the bubble border and bubble color. You can have a colored bubble, or a colored outline, or you will need to do some additional work.

Take a look at JSQMessagesBubbleImageFactory (which you will need to subclass, or manually create your own JSQMessagesBubbleImage objects).

[2016-04-29 08:13] happiehappie commented on #1561
Did you leave space on the header for the date to be displayed? Your snippet didn't include that so... Just wondering

[2016-04-29 08:15] NuelNikhil commented on #1561
Sorry I didn't get that!... you mean any code ?

[2016-04-29 09:15] happiehappie commented on #1561
Did you implement

    collectionView(collectionView: JSQMessagesCollectionView!, layout collectionViewLayout: JSQMessagesCollectionViewFlowLayout!, heightForCellTopLabelAtIndexPath indexPath: NSIndexPath!) -> CGFloat

???

[2016-04-29 09:18] NuelNikhil commented on #1561
Nop...

[2016-04-29 10:53] raghunath44 commented on #837
ld: warning: directory not found for option '-F/Users/Armor/Desktop/Coach Admin/System/Library/Frameworks'
ld: framework not found XCTest
clang: error: linker command failed with exit code 1 (use -v to see invocation)

I have added JSQMessageViewController folder,JSQSystemSoundPlayer.h and JSQSystemSoundPlayer.m file into my project.
Whats the solution for this?

[2016-04-29 15:56] jessesquires commented on #1508
are you calling `super` on all view lifecycle methods?

[2016-04-29 15:57] jessesquires commented on #817
ha, i think this is "just don't do that" 😄 we *want* `translatesAutoresizingMaskIntoConstraints = YES` in this case.

[2016-04-29 16:17] happiehappie commented on #1561
So is it done now?

On Friday, 29 April 2016, Nuel Nikhil <notifications@github.com> wrote:

--
Best Regards,
Stanley

[2016-04-29 16:34] jessesquires commented on #1561
@NuelNikhil the method that @happiehappie is one you need to implement. see the demo project for an example 😄

[2016-04-29 16:34] #1561 closed

[2016-04-29 21:45] IgorB10 commented on #1424
+1

[2016-04-29 21:48] IgorB10 commented on #992
@jalehman Did resolve this issue ?

[2016-04-30 05:27] raghunath44 commented on #284
i want to change the background colour of DemoMessageViewController.If i write self.view.backgroundcolor = [uicolor redcolor];  in viewDidLoad of DemoMessageViewController. its not working...

[2016-05-01 02:02] francocorreasosa commented on #1508
I was missing a `super`:
[code]
now is:
[code]

Thanks

[2016-05-01 14:42] eliburke commented on #284
@raghunath44 try this:
   `self.collectionView.backgroundColor = [UIColor redColor];`

You may want to learn about XCode's "Debug View Hierarchy" feature. It shows the layers of views, and would have revealed that your red background was covered up by the collection view.

[2016-05-01 14:56] eliburke commented on #674
@jessesquires I wonder if this could be the same issue from #273 and #285 (KVO exceptions that can be ignored)

@klivin @yeissonoviedo Are you still experiencing this problem? Can you try "continue"ing after the exception?

[2016-05-01 15:01] eliburke commented on #1063
Moved issue to milestone 8.0.0 because the fix ( #1529 ) does not work on iOS7.

[2016-05-01 15:03] eliburke commented on #1086
The fix (in #1529) moved to release 8.

[2016-05-01 15:10] #1508 closed

[2016-05-01 15:32] eliburke commented on #1407
Moving issue to milestone 8_0.
If someone absolutely has to solve this for the 7.x branch, take a look at #1516 and incorporate the changes made to JSQMessagesComposerTextView.

[2016-05-01 17:06] eliburke commented on #1321
@jessesquires Take a look at #1563.
Thoughts:
- existing behavior is preserved.. if you are adding a custom menu item in your JSQMessagesViewController subclass, it will show up for all cells and the inputView.
- I don't know if the collectionView's datasource was the right place to put this
- as an alternative, registerAction could take an additional parameter for the menu item's name and we coul

[2016-05-02 03:14] NuelNikhil commented on #1561
OHHHHHKKK @jessesquires  and @happiehappie ...   😄

[2016-05-02 05:42] jessesquires commented on #1063
@eliburke -- right, we'll take #1529 after 7.2.1, but we'll need to hack a fix for this in the meantime 😅

[2016-05-02 05:43] jessesquires commented on #1086
going to try to take a look at this one, too 😁

[2016-05-02 05:46] jessesquires commented on #1321
Based on #1563 (a breaking change) going to bump this to v8.0 😄

[2016-05-02 08:18] NuelNikhil commented on #1561
I tried the way you guys mentioned and I am getting the Space on top of message but no date is shown only a white space. I printed out the date and getting it in console like this  **2016-05-02 06:51:47 +0000
** b ut not showing on top of message... :(

[2016-05-02 09:42] raghunath44 commented on #927
JSQAudioMediaViewAttributes.h file not found error..How to solve ???

[2016-05-02 12:03] eliburke commented on #1561
Did you also implement the function that prints the date label? I'm not sure what it is called in Swift, but something like: attributedTextForCellTopLabelAtIndexPath?

[2016-05-02 12:06] NuelNikhil commented on #1561
So how many functions  to implement? And I haven't implement what you have said... @eliburke

[2016-05-02 12:41] eliburke commented on #1561
This is a complex library. It really helps if you spend some time looking at code and documentation. If you are writing in Swift and don't have a good understanding of Objective C, you might want to clone #1491 and look at it.

[2016-05-02 12:45] eliburke commented on #1321
Ok, but FWIW, it doesn't break anything. The protocol is optional and the behavior of one's menus is unchanged if you don't implement the new function.

[2016-05-02 22:16] karthikgollapudi commented on #380
This worked for me once I called it from `viewDidAppear()`

[2016-05-03 04:02] NuelNikhil commented on #1561
@eliburke  you said it i am using swift and don't have idea about Objective C because I am a .net Developer and this is my first attempt with iOS. That's why I am getting confused of things...   anyway thank's for the comments. I will try ...

[2016-05-04 06:38] AidenWK opened #1565 "handleInteractivePopGestureRecognizer handle wrong in some situations"
### General information

## Bug report
I notice the method
`- (void)jsq_handleInteractivePopGestureRecognizer:(UIGestureRecognizer *)gestureRecognizer`
in `JSQMessagesViewController.m`

UIGestureRecognizerStateEnded state handler is equal to UIGestureRecognizerStateFailed or UIGestureRecognizerStateCancelled
`[self.keyboardController beginListeningForKeyboard];
            if (self.textViewWasFirs

[2016-05-04 21:09] Nathan187 commented on #1497
I'm still getting this error.  how exactly did you fix it?  this is what my podfile looks like

source 'https://github.com/CocoaPods/Specs.git'
platform :ios, '8.0'
use_frameworks!
workspace 'EODPOC'

target 'EODPOC' do

    pod 'Alamofire'
    pod 'Facebook-iOS-SDK', '~> 3.23.0', :inhibit_warnings => true
    pod 'MMDrawerController' , '~> 0.5.7'
    pod 'MMProgressHUD', :inhibit_warnings => true

[2016-05-04 21:21] edwardvalentini commented on #1497
is your project structure also using ios 8.0 as the minimum deployment target? When i followed @Mackarous instructions the first time, i had a mismatch and got an error.. but if both the podfile and project are set to 8.0 then it worked

[2016-05-04 21:28] Nathan187 commented on #1497
thanks for the rapid reply (no sarcasm).  i tried changing it to 8.0, 9.0, 9.2, etc.  I changed the deployment target and platform values to match but still get the error.  this was working previously but just no longer compiles

[2016-05-04 21:34] jpsachse commented on #1497
+1 on the "JSQSystemSoundPlayer/JSQSystemSoundplayer.h file not found" error using cocoapods 1.0.0.rc1.

[2016-05-06 06:02] kshrikant opened #1566 "Scroll to bottom does not work properly"
@jessesquires After going through

https://github.com/jessesquires/JSQMessagesViewController/pull/644
https://github.com/jessesquires/JSQMessagesViewController/issues/256

I tried modifications told in issue 256 i.e. in `- (void)scrollToBottomAnimated:(BOOL)animated`

But i didn't find helpful. It might be previously resolved but i didn't have idea where i need to do changes. Please suggest me sol

[2016-05-06 15:46] momone83 commented on #1233
Hi @GianniCarlo ,
I'm using the library through CocoaPods and everything works properly. But if I try to customize the cells, as in your example, I have problems with the registration of the .nib files. In fact through CocoaPods the library is available as a framework (use_framework!) and for that reason if I use the
 **super.collectionView(collectionView, cellForItemAtIndexPath: indexPath)**
meth

[2016-05-06 16:01] GianniCarlo commented on #1233
@momone83 can you tell me what are you trying to achieve exactly? can you post the part of your `viewDidLoad` where you register your .nib files?

[2016-05-08 11:43] NidhiJoshi7 opened #1567 "JSQMessagesComposerTextView not flexible to text inside"
## Question
 I am using JSQMessagesViewController for chat view in my project. I am using swift. While message is small like.. "Hi","R u there?" I looks fine.. but when it's long enough of 5 words or more than that.. it's just showing starting 2-3 words.. that's all... if I copy that message it has the whole message... but not showing that in bubble... I have read another Question similar to this

[2016-05-08 17:55] momone83 commented on #1233
I must register nib in this way

**self.collectionView.registerNib(UINib(nibName: "ChatMessagesCollectionViewCellOutgoing", bundle: self.nibBundle), forCellWithReuseIdentifier: self.outgoingCellIdentifier)**

If I register nib as in the example

**self.outgoingCellIdentifier = [CustomCollectionViewCellOutgoing cellReuseIdentifier];

    [self.collectionView registerNib:[CustomCollectionViewCellOut

[2016-05-10 03:46] Steven4294 opened #1570 "Removing Attachment Button"
Is there a convenient way to remove the button that allows you to attach media, next to the input text view?

Thanks!

[2016-05-10 03:50] Steven4294 commented on #1570
Solution:

`self.inputToolbar.contentView.leftBarButtonItem = nil;`

[2016-05-10 03:50] #1570 closed

[2016-05-10 17:27] eliburke commented on #797
@IceFloe can you give an example of why you want to know the bubble width? Are you trying to fit or align something inside or outside the bubble that could maybe be handled with autolayout?

Can you describe an example of this in action? I know you weren't fond of the design I used in #1522 but I don't see size+aspect being very flexible. Do you plan to have the layout "adjusting" the provided vie

[2016-05-10 17:38] IceFloe commented on #797
@eliburke I understand, you can look at my idea in the https://github.com/jessesquires/JSQMessagesViewController/pull/1569

I will try to understand your idea as well.

Problem is in bad control for mediaViewDisplaySize. I cant find now what size will be for bubble from MediaItem, this cause for me some problems. For example it is rly hard to find the size for mediaItem which have picture and a lo

[2016-05-10 17:58] IceFloe commented on #797
@eliburke I just want to share my idea, for me now is easy to calculate size for bubble :) I don't put it in black box which will do something with my bubble size. I can calculate all my params for bubble and this size will be right for me.

[2016-05-10 18:05] IceFloe opened #1571 "Decouple JSQMessagesToolbarContentView"
@jessesquires Hi, how about decouple JSQMessagesToolbarContentView completely from controller?

My main idea is remove all hard references from JSQMessagesViewController. And make this more in the delegate style. What do you think?

[2016-05-11 01:38] jessesquires commented on #1571
Hm... can you explain a bit more? 😊

[2016-05-11 03:52] hemantkadam commented on #1551
Its very simple @happiehappie all you need to do is subclass JSQMediaItem, write all your code in -(UIView *) mediaView, here you can create view with required CGSize and add it as subview to self.cachedVideoImageView/ self.cachedTextImageView/ self.cachedPhotoImageView.

I've done this and trust me its very simple and will take less than 10 mins to get your required UI up and running. That's the

[2016-05-11 03:54] jessesquires commented on #1551
Thanks @hemantkadam !

[2016-05-11 03:54] #1551 closed

[2016-05-11 04:59] hemantkadam commented on #1544
@ZetrixWeb-iOS Need more information on this. Probably some similar kind of app screenshot or your mock-up screens.

[2016-05-11 05:12] hemantkadam commented on #1551
No problem @jessesquires this is least I can do to support JSQMessagesViewController  :+1:

[2016-05-11 05:32] IceFloe commented on #1571
For now it is hard to create completely custom toolbar. I suggest move it from JSQMessagesViewController and create toolbar like a component for it. This will not be easy, but I can try. :)

[2016-05-11 07:32] kshrikant commented on #1566
@jessesquires any idea ? where i can look into my code ? I want to resolve it please.

[2016-05-11 10:03] raghunath44 commented on #628
How to play a video???

[2016-05-11 11:38] happiehappie commented on #1551
Thanks for the reply. So I no longer dequeue my messages as JSQMessages but
media item instead?
On Wed, 11 May 2016 at 1:13 PM, iHemantK <notifications@github.com> wrote:

[2016-05-11 12:36] eliburke commented on #1551
@happiehappie no, you still use JSQMessages. You need to create a new type of JSQMediaItem, call it HappiePhotoDateMediaItem or something like that. When you process your message data and have an image, you will create an object with the new type and set your image and date as properties. Internally you will modify the mediaView method, create a custom UIView, and add the date in a label, and add

[2016-05-11 15:07] minglini commented on #1223
Im having exactly the same issue on the same line, but i dont use branch.io.
Trying to find if some other library is creating this issue...

[2016-05-11 17:21] MacMeDan opened #1573 "Add README for swift Example"
## Question or Feature Request

More I am just making the task so I know what I need to do next.

[2016-05-12 05:40] jessesquires commented on #1571
Ahh, I see. This would be very low priority right now. I wouldn't recommend attempting this until after v8.0 of the library. 😄

[2016-05-12 05:52] jessesquires commented on #1573
should update this:

https://github.com/jessesquires/JSQMessagesViewController/blob/develop/Documentation/getting_started.md

any other docs should go in `Documentation/`, too 😄

[2016-05-12 06:13] IceFloe commented on #1571
Ok, I will wait till 8.0 :)

[2016-05-12 06:38] BhavinBhadani commented on #678
I done everything with this avatars ... download from url using SDWebImage but still not display images for every users ...  I really feel that you have to give option to fill image with URL too ... rather than provide imageview @jessesquires

[2016-05-12 09:38] raghunath44 commented on #1354
how to get videoUrl in didTapMessageBubbleAtIndexPath?Also how to play?

[2016-05-12 11:52] poorni008 opened #1574 "Image for progressview in audio recording"
how to add a image to progressview in audio recording

[2016-05-12 12:46] eliburke commented on #1574
Since the progress view is currently only a couple of pixels high, I think you are going to want to create your own custom version. It's easy. Just copy the class into your own project, rename it, and re-write it to look the way you want.

[2016-05-12 12:46] #1574 closed

[2016-05-12 16:02] MacMeDan commented on #1573
sounds like a plan 🎧

[2016-05-13 13:08] srinathp90 opened #1575 "How to enable disable send button if internet goes offline"
Can anyone suggest how to disable send button if internet goes to offline and enable if internet available like whatsapp please suggest me.. @jessesquires @Ricardo1980

[2016-05-13 15:58] wdcurry commented on #1575
Research "Reachability" ..

[2016-05-16 04:28] srinathp90 commented on #1575
@wdcurry  Disabled the send button when internet goes offline using reachability, But again send button enables when i start typing.

[2016-05-16 09:34] steipete commented on #1247
We've recently stumbled on this issue as well in [PSPDFKit](https://pspdfkit.com/) and found a workaround that doesn't require recreating the action sheet. It's still somewhat horrible - but at least it's self-contained and the things it changes are local to this specific bug. The main strategy is to be selective and apply a workaround (selecting the correct view controller to present on) just in

[2016-05-16 11:04] srinathp90 opened #1580 "How to show "Someone left the conversation" text in JSQMessageviewcontroller"
Hi i want to  show "Someone left the conversation" text and the date in JSQMessagesViewController Please help me. @jessesquires

[2016-05-16 14:00] jessesquires commented on #1247
Thanks @steipete ! 😊

[2016-05-17 00:20] MartinQue opened #1581 "Keyboard ToolBar responsive Update"
Considering most chat apps, other than the iMessage, their toolBars have other icons with functionaries on the right side and when user starts typing, the icons changes and updates to a send button. Could you possibly create this functionality? Even if optional? ...

[2016-05-17 01:25] davepatterson commented on #1581
Could you possibly post a screenshot of an example of this?

[2016-05-17 04:31] cx478815108 commented on #1581
I think you can custom the keyboard toolbar by adding other views.you can post a screenshot.

[2016-05-17 13:05] davepatterson commented on #1581
Overriding `textViewDidChange` allows you to make updates after a user types. But remember to call `super.textViewDidChange` at the end of said method. This way you don't lose the toolbar updates that `JSQMesagesViewController` itself provides such as highlighting and enabling the `Send` button whenever there is text in `UITextView`.

[code]

[2016-05-17 13:57] davepatterson commented on #1580
I suggest notifying the other user in the `viewWillDisappear` method of `JSQMessagesViewController`.
[code]

[2016-05-18 02:55] mbalex99 commented on #1566
Did you put additional space on the content inset?

[2016-05-18 09:52] seidju opened #1583 "Don't highlight cell outside message bubble (when long press)"
Hi everyone!
How can I disable bubble selection when I press outside message bubble? So, basically, now when you long press outside message bubble - it highlights (without menucontroller showing), and i want to remove that behavior.

Thanks for any help!

[2016-05-18 15:48] matthewmb340 commented on #1078
I can't seem to get this working i have been using the attributedTextForMessageBubbleTopLabelAtIndexPath function and printing out the return value as well as printing out the value of cell.messageBubbleTopLabel.attributedText in JSQMessagesViewController.m line 531

i have tried a swift version of the code in DemoMessagesViewController as well as a version i found online:
override func collection

[2016-05-18 19:52] davepatterson commented on #1575
Assuming that you know how to find out the status of the internet, you can manually enable/disable the sendButton by setting it in `inputToolbar?.contentView?`. For example, if your send button is on the right, to enable it you would use `inputToolbar?.contentView?.rightBarButtonItem?.enabled = true`.

[2016-05-19 02:10] poorni008 opened #1585 "textview not expanding"
i have added the observer also,but still my textview is not expanding.Don't know what the problem is.

[2016-05-19 05:46] davepatterson commented on #1585
Your textView is not expanding as you type? Is it possible that you post the code that you are using?

[2016-05-19 05:48] srinathp90 commented on #1575
But the problem is  rightBarButtonItem enables once i start typing. That should not happen.

[2016-05-19 06:04] davepatterson commented on #1575
Well what you can do is override `JSQMessagesViewController`'s `textViewDidChange` method. In this method, as long as you don't call `super.textViewDidChange`, the status of the the sendButton will not update. So whenever you are ready for it to be enabled, you'll then just call `super.textViewDidChange` in the overridden `textViewDidChange` method.

[2016-05-19 06:11] srinathp90 commented on #1575
Thank you.. it helps

[2016-05-19 06:17] poorni008 commented on #1585
- (void)observeValueForKeyPath:(NSString *)keyPath ofObject:(id)object change:(NSDictionary *)change context:(void *)context
{
    if (context == kJSQMessagesKeyValueObservingContext) {

        if (object == self.messageTextView
            && [keyPath isEqualToString:NSStringFromSelector(@selector(contentSize))]) {

            CGSize oldContentSize = [[change objectForKey:NSKeyValueChangeOldKey

[2016-05-19 10:25] poorni008 commented on #1585
toolbar is expanding but textview is not expanding.

[2016-05-19 15:30] bloodshoter opened #1586 "JSQSystemSoundPlayer.h not found"
Today I updated my cocoapod to latest version 1.0.0 and re-installed my pods. JSQ just stopped compiling.
The error I'm getting is in the file "JSQSystemSoundPlayer+JSQMessages.h", and the error is "JSQSystemSoundPlayer.h/JSQSystemSoundPlayer.h file not found".

My podfile is this:
platform :ios, '8.0'
use_frameworks!

target 'Myapp' do
pod 'Firebase/Core'
pod 'Firebase/Auth'
pod 'JSQMessagesViewC

[2016-05-19 15:41] #1575 closed

[2016-05-19 15:52] jessesquires commented on #1586
hey @bloodshoter

i just tested this with a simple Podfile and everything worked:

[code]

You don't need to specify `pod 'JSQSystemSoundPlayer'`, you should remove this line.

[2016-05-20 03:50] betzerra commented on #138
Just to check... this isn't implemented on JSQMessagesViewController yet, right? no PR from anyone?

[2016-05-20 04:03] jessesquires commented on #138
@betzerra correct

[2016-05-20 04:07] betzerra commented on #138
Alright. I'll keep you posted if I end up doing this on a separate fork :-)

Sent from my iPhone

[2016-05-20 08:58] buithuyen commented on #626
What exactly did you do in this case?
I have added and showed up custom item menu successfully. But when I tap this item, there is nothing happen.

I realize that `UICollectionView Delegate` didn't call
`collectionView:performAction:forItemAtIndexPath:withSender:` method.

What should I do in this case? Thanks!

[2016-05-20 12:04] big-r81 opened #1587 "Should the function "jsq_addObservers" be called earlier in time?"
## Question

The method `jsq_addObservers` (JSQMessagesViewController) is registered in `viewDidAppear`.
Why isn't it registered earlier in `viewDidLoad` or `viewWillAppear`?

If `jsq_addObservers` would be registered in `viewDidLoad` or `viewWillAppear`
than it would be possible to set the text in the `textView` of the inputToolbar with the correct size of
the `textView` before the View is shown.

[2016-05-20 13:39] eliburke commented on #626
@buithuyen there are some issues with custom menu items and behaviors that aren't slated to be fixed until the 8.0 branch is released. Check out PR #1563 -- perhaps you can incorporate that into your code for now.

[2016-05-20 14:49] jessesquires commented on #1587
hey @big-r81 -- there are some legacy reasons and iOS issues why it is this way.

however, this is something we can hopefully revisit for v8.0 of the library

[2016-05-20 15:09] big-r81 commented on #1587
hey @jessesquires -- thank you for your fast response.

Is there any short / fast / beautiful workaround?

[2016-05-21 00:00] jessesquires commented on #1587
😁 not quite. moving this call right now will cause some other unexpected behaviors

[2016-05-21 11:25] rafus15 commented on #1586
i'm having the same problem here.
After updating to the new cocoapods 1.0 and updating to the new firebase im getting the same error.
were you able to fix it?

[2016-05-23 02:29] #1386 closed

[2016-05-23 04:30] #1247 closed

[2016-05-23 04:50] #1234 closed

[2016-05-23 05:02] #1321 closed

[2016-05-23 05:14] #1063 closed

[2016-05-23 05:24] jessesquires opened #1592 "Write release notes for 7.3.0"
- [x] Write markdown release notes for 7.3.0 (use [7.2.0](https://github.com/jessesquires/JSQMessagesViewController/releases/tag/7.2.0) as an example)
- [x] Update `CHANGELOG.md`

Issues closed are here: https://github.com/jessesquires/JSQMessagesViewController/issues?q=milestone%3A7.3.0+is%3Aclosed

[2016-05-23 05:25] jessesquires commented on #1592
@eliburke -- Would you like to help with this? It would be super helpful. Writing a markdown comment on this thread would be perfect. Then I can just paste into the GitHub release.

I think we can release this week. 🎉

[2016-05-23 05:26] jessesquires commented on #1592
Oh also, I changed this to 7.3 instead of 7.2.1 😅

[2016-05-23 05:37] NuelNikhil commented on #1561
All Done ... Thanks @happiehappie  , @jessesquires  , @eliburke

[2016-05-23 05:42] jessesquires commented on #1063
Closed this with a hack for now 😢

We will merge #1529 (the proper fix) for v8.0 of the library.

[2016-05-23 05:46] jessesquires commented on #674
ah, based on the screenshot, it looks like this *is*  #273 and #285

[2016-05-23 05:46] #674 closed

[2016-05-23 05:48] jessesquires commented on #1232
closing this -- doesn't seem like a library bug.

[2016-05-23 05:48] #1232 closed

[2016-05-23 05:53] jessesquires commented on #1450
thanks @MohamedThabib ! 😄

It looks like your view is heavily customized and there's probably not much we can do in the library itself to accommodate any issues.

[2016-05-23 05:53] #1450 closed

[2016-05-23 05:54] jessesquires commented on #1329
I think this is the same as #817, closing as a duplicate.

If you think this is incorrect, please let me know! 😄

[2016-05-23 05:54] #1329 closed

[2016-05-23 05:57] jessesquires commented on #1246
Sounds like the workaround proposed by @wdcurry is best for now.

There will be some major keyboard improvements in v8.0 that should address any issues here.

[2016-05-23 05:57] #1246 closed

[2016-05-23 05:59] jessesquires commented on #1086
Fixed by closing #1063 for v7.3.0.

Will be properly fixed in v8.0.0 by #1529

[2016-05-23 05:59] #1086 closed

[2016-05-23 06:11] jessesquires commented on #1338
Can't reproduce this anymore. Going to close.

[2016-05-23 07:26] skeeet commented on #235
Here is my attempt to implement it.

[2016-05-23 07:40] OrWest commented on #1423
Any moving?

[2016-05-23 12:57] eliburke commented on #1338
@jessesquires FWIW I re-tested this a few weeks ago. Does not crash in the simulator but still crashes on hardware 100% of the time. I am of the opinion that it has to do with changing a cell's size while any of the "springiness" animations are occurring.

[2016-05-23 14:30] #873 closed

[2016-05-23 14:30] eliburke commented on #873
Closed with the merge of #886. Thanks @BillCarsonFr !

[2016-05-23 15:42] steipete commented on #1247
Hope you didn't miss my comment on https://github.com/jessesquires/JSQMessagesViewController/commit/c4143c59a541d7c6b487396fa3135b88dba34358#commitcomment-17575574 - else you'll risk people's app being rejected.

[2016-05-23 16:24] jessesquires commented on #1247
Derp! It was late last night 😊 Thanks so much @steipete ! 🙌 🙇

[2016-05-23 16:27] jessesquires commented on #1338
@eliburke -- hm.. I tested on device last night. iPhone 6s, iOS 9.

i was able to repro before, and it was definitely because of `copyWithZone:`

[2016-05-23 16:28] jessesquires commented on #1338
new idea to guard against this: override `init` and set default values

[2016-05-23 16:32] jessesquires commented on #1592
beautiful! thanks so much @eliburke ! 🙌

[2016-05-23 16:53] eliburke commented on #1592
Missed one, added here and edited into my previous post:

:tada: **Improved custom cell menu support (#1281)**
Added override points for didReceiveMenuWillShowNotification, didReceiveMenuWillHideNotification
Thanks @keyeMyria!

[2016-05-23 21:44] #1338 closed

[2016-05-23 21:50] jessesquires commented on #1257
hey all -- I can repro this with the demo project on an iPhone 6 device.

can anyone provide further steps?

[2016-05-23 21:56] #1592 closed

[2016-05-24 00:31] erichedstrom commented on #1257
@jessesquires Thanks for following up! I can verify that #1238 fixes it for the demo project, but not for my app.

For some reason in the demo app the width of the view has already changed from 320 (width in the .XIB) to 375 (iPhone 6 width) when -traitCollectionDidChange: is called, and so the call to jsq_resetLayoutAndCaches invalidates and recalculates the layout before the view has appeared.

[2016-05-24 01:06] jessesquires commented on #1257
Hm... @erichedstrom can you provide more details about your setup? Xcode version, iOS versions, devices, etc.

[2016-05-24 01:18] erichedstrom commented on #1257
@jessesquires Xcode 7.3.1, iPhone 6 with 9.3.2, and iPhone 6 Simulator 9.3. Base deployment target for app is iOS 8.1.

Aha! The demo app shows the problem as well if I change the deployment target from iOS 7 to 8.1.

[2016-05-24 01:28] erichedstrom commented on #1257
Specific steps:
Set deployment target to iOS 8.1.
Run the demo app on an iPhone 6/6s or 6/6s simulator.
Tap Push via Storyboard or Push programmatically.
View will appear with bubbles sized appropriately for an iPhone 5.
Start to pull down Notification Center.
Bubbles will suddenly resize to fit the iPhone 6.

[2016-05-24 02:03] jessesquires commented on #1257
Thanks @erichedstrom !

So I followed those steps but still couldn't repro. Did you pull the latest from `master` ?

[2016-05-24 02:22] jessesquires commented on #1216
@eliburke updated original comment.

- To facilitate contributions (and better accommodate existing PRs) this work is happening on `develop`.
- I cut a `release_7.3` branch in case we need to hotfix anything serious

If a 7.3 hotfix is needed, we'll merge that branch into `master`, then tag and release. Otherwise, `master` should remain untouched until `8.0` is ready on `develop`. Then we'll merge

[2016-05-24 02:34] jessesquires commented on #1382
Would be nice if someone wants to continue the work from #1509 and submit a fresh PR.

[2016-05-24 04:02] erichedstrom commented on #1257
Ach, yes, I did have the latest from master, but now I can't repro with the demo app either.

The bottom line is the fix in #1238 expects the view from the xib to have been resized before traitCollectionDidChange: is called, while the view is not guaranteed to have been resized until viewDidLayoutSubviews is called. (I don't see viewWillTransitionToSize:withTransitionCoordinator: being called at a

[2016-05-24 13:52] vijaysanghavi opened #1596 "avatarImageDataForItemAtIndexPath not getting called"
Working on chat module and found all methods of datasource are working but not `avatarImageDataForItemAtIndexPath` . Please see the video

https://www.dropbox.com/s/ly1g6h9k3te2k5e/2016-05-24_19-17-01.mp4?dl=0

[2016-05-24 14:08] MaximShnirman opened #1597 "Keyboard on top of inputToolBar"
hello, i've been trying to find a solution most of the day and couldn't find an answer.
i've added LSQMessagesViewController to my project, as follows:
i have a view controller that has two tabs, lets call it tabvc, one of the tabs is the LSQMessagesViewController.
when tabvc reaches viewDidLoad it creates the LSQMessagesViewController like this:

[code]
* notice that DemoMessagesViewController is

[2016-05-24 14:14] eliburke commented on #1596
@vijaysanghavi it is always a good idea to check the source code before you post a question. There are no paid support contracts here on gitlab! :smile:

If you use XCode's search feature to find where _avatarImageDataForItemAtIndexPath_ is called you will see it is called in only one place:
[code]

Looking a few lines earlier you will see:
[code]

So, if the view size is zero, _avatarImageDataFor

[2016-05-24 14:14] #1596 closed

[2016-05-24 14:30] jessesquires commented on #1597
Thanks @MaximShnirman ! 😄

This definitely sounds like #366 . I would recommend looking at the demo project again to find what you're missing.

Also, if you haven't already, you should update to v7.3 of the library, released  yesterday.

[2016-05-24 14:30] #1597 closed

[2016-05-24 14:36] jessesquires commented on #1257
Hm... weird.

`viewWillTransitionToSize:withTransitionCoordinator:` would only be called on rotations.

Have you tried invalidating on `viewWillAppear:` ?

[2016-05-24 14:36] eliburke commented on #1597
I was thinking the other possibility would be the fix from #1588 (which is included in the 7.3.0 release).

[2016-05-24 15:09] vijaysanghavi commented on #1596
I am extremely sorry for posting such a silly issue. After posting this I found that I set the size to `CGSizeZero` which is why the method was not called. Could you please remove this

[2016-05-24 15:21] eliburke commented on #1596
@vijaysanghavi it's not a problem. My answer was a little cheeky because that's the mood I'm in today. I'm glad you fixed your bug.

[2016-05-24 17:12] Arslan007 commented on #1554
@eliburke  and @jessesquires
I have faced the same issue but my issue was I was not giving app launch screens for iPhone 6 and iPhone 6+ and most wierd thing was it was only effecting only iOS9+ and iPhone 6 onwards.
I hope it might helps you :)

Cheers!

[2016-05-24 17:55] eliburke commented on #1554
Holy smokes I think you're right @Arslan007! I just recently updated my app to use autolayout instead of UI scaling and sure enough, I can no longer reproduce the bug. That's good enough for me to pin the blame on iOS. Thanks for the tip! 🎉 😄

[2016-05-24 17:55] #1554 closed

[2016-05-24 20:00] erichedstrom commented on #1257
Thanks for following up.

I did try invalidating in viewWillAppear, and the base class also invalidates in a block called from its viewWillAppear.

I also have in viewWillAppear a [self scrollToBottomAnimated:YES] after calling [super viewWillAppear]. If I comment out my call to scrollToBottomAnimated:, the cells are sized correctly right off the bat, but you can see it scrolling to the bottom a s

[2016-05-25 02:20] sobakasu commented on #1257
not sure if it's the same issue, but I have layout issues with the message cells in iOS 9 on ipad after rotation. I have found turning on 'Requires full screen' fixes the issue (but prevents the app using Slide Over and Split View)

[2016-05-25 02:53] erickva commented on #1196
This does not work for me either.
I have a bridging file with:
#import <JSQSystemSoundPlayer/JSQSystemSoundPlayer.h>
#import <JSQMessagesViewController/JSQMessages.h>

Then in my MessagesViewController.swift I have:
import JSQMessagesViewController

And I get the following error:
No such module 'JSQMessagesViewController'

I don't have use_frameworks enabled in my Podfile

[2016-05-25 08:04] MaximShnirman commented on #1597
thanks for your answers! ill try updating and will let you know!

[2016-05-25 09:18] MaximShnirman commented on #1597
Thanks a lot! the update seems to fix it, cheers!

[2016-05-25 10:48] mmesutt commented on #1037
The same issue happend in my iPad Air (iOS 9).

[2016-05-25 14:06] PrathmK opened #1598 "Regarding line spacing for textview"
How can i alert the line Spacing of the text view.

[2016-05-25 15:25] jessesquires commented on #1598
thanks @PrathmK ! 😄

all of the usual UIKit APIs are available. check out the docs for UITextView.

[2016-05-25 15:25] #1598 closed

[2016-05-25 21:02] jerembab opened #1599 "JSQMessagesViewController/JSQMessages.h file not found"
I have an issue when I try to install a pod with Cocoapods , target on iOS 8  (before that the JSQMessagesViewController worked great)
and using use_frameworks!

In my podfile:
platform :ios, '8.0'
use_frameworks!

target '...' do
pod 'Firebase', '>= 2.5.0'
pod 'JSQMessagesViewController', '~> 7.2'
...

I run the command "pod install" and get the output:
Installing JSQMessagesViewController (7.3.0

[2016-05-25 22:39] chrisballinger commented on #1497
Encountered this with CocoaPods 1.0.0. You need to `@import JSQSystemSoundPlayer;`

[2016-05-25 22:46] jpsachse commented on #1497
It seems to work for me (for now) using Swift 2.2 with Xcode 7.3.1 and CocoaPods 1.0. It currently builds both in simulator and on device just using `import JSQMessagesViewController`

[2016-05-26 01:28] jessesquires opened #1600 "Remove `sharedApplication` reference from JSQMessagesBubbleImageFactory"
Introduced in PR #1550.

Instead, let's:

- Add a private property for `userInterfaceLayoutDirection`
- Add this property to the designated initializer
- Use the `sharedApplication` value in the default `init`
- Update unit tests and demo

[2016-05-26 03:07] jessesquires commented on #616
⚠️ **NOTE:** not accepting PRs for this

[2016-05-26 03:09] jessesquires commented on #378
closing this as resolved for `v8.0` of the library as it will be iOS 8+ only

[2016-05-26 03:09] #378 closed

[2016-05-26 03:12] jessesquires opened #1601 "Remove nibs, use programmatic layout"
- Better for maintenance
- Better for PRs

This will fix these issues:
- #1340
- #1257
- #1844
- #1212

[2016-05-26 03:13] jessesquires commented on #1023
Not doing this anymore.

`v8.0` will **remove** this dependency. clients can add it manually if they want. there's no reason that it should be tied to this lib and included by default.

[2016-05-26 03:13] #1023 closed

[2016-05-26 03:13] jessesquires commented on #1600
@MacMeDan - another good task here 😄

[2016-05-26 03:14] jessesquires commented on #1512
Thanks @AlphazellaLevallois ! Please update the issue with more info.

[2016-05-26 03:14] #1512 closed

[2016-05-26 03:14] jessesquires commented on #1601
⚠️ **NOTE:** not accepting PRs for this 😄

[2016-05-26 03:17] jessesquires commented on #1599
Thanks @jerembab ! This looks like a duplicate of #1586. See if the discussion there is helpful

[2016-05-26 03:17] #1599 closed

[2016-05-26 03:18] jessesquires commented on #1585
Thanks @poorni008 😄

Can you update to 7.3 of the library and see if your issue is resolved?

We can't reproduce this in the demo....

[2016-05-26 03:18] #1585 closed

[2016-05-26 03:19] jessesquires commented on #1558
Thanks @siliconprime-ninhvo ! :smile:

Please provide all the information in the [issue template](https://github.com/jessesquires/JSQMessagesViewController/blob/develop/.github/ISSUE_TEMPLATE.md) so we can help!
And don't forget to read our [contribution guidelines](https://github.com/jessesquires/JSQMessagesViewController/blob/develop/.github/CONTRIBUTING.md). :blush:

[2016-05-26 03:19] #1558 closed

[2016-05-26 03:19] jessesquires commented on #1556
Thanks @nguyenpham ! :smile:

Please provide all the information in the [issue template](https://github.com/jessesquires/JSQMessagesViewController/blob/develop/.github/ISSUE_TEMPLATE.md) so we can help!
And don't forget to read our [contribution guidelines](https://github.com/jessesquires/JSQMessagesViewController/blob/develop/.github/CONTRIBUTING.md). :blush:

[2016-05-26 03:19] #1556 closed

[2016-05-26 03:21] jessesquires commented on #1480
@jalone87 maybe try calling `bringSubviewToFront:` ?

can you provide any more info on how you are adding this view?

[2016-05-26 03:21] #1480 closed

[2016-05-26 03:22] jessesquires commented on #1501
Sorry @dudduss ! `v8.0` of the library will fix this 😄

Until then:

- You can add the project manually
- You can use git submodules

[2016-05-26 03:22] #1501 closed

[2016-05-26 03:23] jessesquires commented on #1502
Thanks @kvndevils ! 😄

All of this is possible by overriding the collectionViewDataSource's supplementaryView methods. See the demo for an example.

[2016-05-26 03:23] #1502 closed

[2016-05-26 03:23] jessesquires commented on #1507
Thanks @abdulvy ! :smile:

This doesn't seem specific to the library. StackOverflow is a more appropriate place to ask this question. :blush:

I'm going to close this issue, but the community should feel free to continue the discussion here.

### Other ways to get help:

* Ask on [StackOverflow](http://stackoverflow.com/questions/tagged/jsqmessagesviewcontroller) with the `jsqmessagesviewcontrolle

[2016-05-26 03:23] #1507 closed

[2016-05-26 03:24] jessesquires commented on #1532
Thanks @brokeniceinteractive ! :smile:

Please provide all the information in the [issue template](https://github.com/jessesquires/JSQMessagesViewController/blob/develop/.github/ISSUE_TEMPLATE.md) so we can help!
And don't forget to read our [contribution guidelines](https://github.com/jessesquires/JSQMessagesViewController/blob/develop/.github/CONTRIBUTING.md). :blush:

[2016-05-26 03:24] #1532 closed

[2016-05-26 03:24] jessesquires commented on #1544
Thanks @ZetrixWeb-iOS ! :smile:

Please provide all the information in the [issue template](https://github.com/jessesquires/JSQMessagesViewController/blob/develop/.github/ISSUE_TEMPLATE.md) so we can help!
And don't forget to read our [contribution guidelines](https://github.com/jessesquires/JSQMessagesViewController/blob/develop/.github/CONTRIBUTING.md). :blush:

[2016-05-26 03:24] #1544 closed

[2016-05-26 03:26] jessesquires commented on #1567
Thanks @NidhiJoshi7 ! 😄

This sounds like a duplicate of #1034. Please check that and let us know if your issues is fixed.

[2016-05-26 03:26] #1567 closed

[2016-05-26 03:27] jessesquires commented on #1580
Thanks @srinathp90 !

`v8.0` of the library will support system messages 😄

[2016-05-26 03:27] #1580 closed

[2016-05-26 03:27] jessesquires commented on #1581
Thanks for the answer @davepatterson ! 😄

[2016-05-26 03:27] #1581 closed

[2016-05-26 03:28] jessesquires commented on #1583
Thanks @seidju ! 😄

Currently there's no workaround for this behavior. We can investigate this UI bug though.

[2016-05-26 04:01] srinathp90 commented on #1580
👍

[2016-05-26 07:16] jerembab commented on #1586
I fix my issue when I remove the '~> 7.2.0’ in the Podfile at the
pod 'JSQMessagesViewController’, '~> 7.2.0’  line
maybe it will help

[2016-05-26 07:49] PrathmK commented on #1598
anyone who has done this, i tried by overiding ` (CGFloat)layoutManager:(NSLayoutManager *)layoutManager lineSpacingAfterGlyphAtIndex:(NSUInteger)glyphIndex withProposedLineFragmentRect:(CGRect)rect` the method in JSQMessagesCellTextView class but its not working. Any suggestions

[2016-05-26 08:32] rkittinger commented on #694
Has anyone had experience getting animated gifs embedded in text inside the chat bubbles? NSTextAttachment and using NSAttributedString does not animate the images...

[2016-05-26 08:34] rkittinger commented on #1052
Anyone have experience embedding animated gifs within the text message? NSAttachment does not animate its attachments... This is a very important criteria for us choosing this framework.

[2016-05-26 08:39] rkittinger commented on #863
@mohpor I have tried something similar to this in our app, but the emotion is not animating... any experience with this? Are your emotions animated? This would be a very important criteria and choosing this framework. Thanks.

[2016-05-26 10:57] Uki19 opened #1602 "Tab bar offset bug after updating pod to 7.3.0"
After i updated pod to 7.3.0 i got bug with tab bar. I have tabbar application and when i push my chat view controller (JSQMessagesViewController), i set hidesBottomBarWhenPushed so it hides my app tabbar and text input field should be on bottom. This worked properly in 7.2.0 version. Now i get slight delay with tabbar disappearance so when i push my chat view controller it looks like this(image b

[2016-05-26 11:23] mohpor commented on #863
@rkittinger Unfortunately I have moved away from that project, but to help you get your answer, you should investigate IF `NSTextAttachment` accepts animated gifs (I guess they don't but I might be wrong).
http://stackoverflow.com/questions/29135232/animated-gif-inside-uitextview
http://stackoverflow.com/questions/29949348/animated-uiimage-in-uitextview-with-textkit

Hope this helps
Cheers,
M.

[2016-05-26 11:27] rkittinger commented on #863
Thanks,

already looked at those links. Assuming the JSQMessagesViewController bubble views can be modified to use attributed strings like you said, I am trying to use bezier paths and embed the gif as a subview. Not just trying to position the text correctly.
Do you have the project/code where you changed the ‚strings‘ to ‚attributedstrings‘ ?

Thank you
Randy

[2016-05-26 12:21] NuelNikhil opened #1603 "Adding New Label inside Chat Screen"
Hello ,  It' not about issue... But I would like to know If there any feature like in whatsapp i.e.,  When a new message comes there will be a label to show new messages...(unread messages) is there anything like in jsqmessagesviewcontroller ? or can I make one in jsqmessageviewcontroller ???

[2016-05-26 12:24] mohpor commented on #863
I'm afraid I don't have them.
It's nothing you can't do.
Just make a factory method to properly convert every text to attributes strings, change the setter methods, and change the sizing methods that use NSString sizes to attributed counterparts and you are done! I'm sure you can do it in under an hour ;)
Sorry I couldn't help more.

[2016-05-26 12:37] eliburke commented on #1603
@NuelNikhil there is not any feature like this built-in, but you can absolutely add one of your own design (or What'sApp's design!)

[2016-05-26 12:37] #1603 closed

[2016-05-26 12:38] jerembab commented on #1497
It work for me ( using Swift 2.2 with Xcode 7.3.1 and CocoaPods 1.0 ) but only in simulator , in device Im getting the following errors:  'NSInternalInconsistencyException', reason: 'Could not load NIB in bundle: 'NSBundle </var/containers/Bundle/Application/.../Frameworks/JSQMessagesViewController.framework> (loaded)' with name 'JSQMessagesViewController'
any ideas?

[2016-05-26 12:43] eliburke commented on #863
I think that part of the roadmap for release 8 includes switching to attributed strings, right @jessesquires ? So @rkittinger if you are continuing to work on this, patches are welcome.

[2016-05-26 16:23] jessesquires commented on #1602
Thanks @Uki19 ! 😄

Sorry for this regression. If you remove the changes to `viewWillLayoutSubviews` does it affect the behavior?

Also, is your tabbar transparent?

[2016-05-26 16:26] jessesquires commented on #863
Thanks correct. For `v8.0` text messages will provide `NSAttributedString` instead of `NSString`

[2016-05-26 21:07] Uki19 commented on #1602
@jessesquires No difference with `viewWillLayoutSubviews`. My tabbar is transparent (if you mean translucent) 😄
Tabbar actually disappears properly, just textfield view(or whatever view is on bottom in this scenario) has delay. I forgot to mention that i am using JSQMessagesViewController inside container view, but i've tried all fixes on both chat view controller and its container view controller

[2016-05-27 12:37] rkittinger commented on #863
When is the planned release date? Would it be possible to attach animated gifs into the messages like Skype? Or does anyone know how Skype achieves this?

[2016-05-27 17:01] nixxcode opened #1604 "Crash on iOS 7 after updating to 7.3.0"
After updating from version 7.2.0 to 7.3.0 of this project, a crash occurs on iOS 7 when a non-empty message view controller is pushed. This issue was never seen in version 7.2.0 or on iOS 9 with the latest version.

The crash is due to infinite recursion;

[code]

[2016-05-27 18:42] jessesquires commented on #1604
Thanks @nixxcode !

We need to revert #1588

[2016-05-27 19:16] Marcoc88 commented on #1586
I am having this issue after updating cocopods 1.0. What is strange is it only occurs when I try to build in Xcode and run on the simulator. I can build and run my app fine on my iPhone.

Here is my pod file

platform :ios, '8.0'
use_frameworks!

pod 'JSQMessagesViewController'
pod 'Firebase/Core'
pod 'Firebase/Database'
pod 'Firebase/Auth'

target 'MyApp'

[2016-05-28 01:09] GianniCarlo opened #1608 "Contribution: swift demo chat functionality"
## New issue checklist

- [X] I have read all of the [`README`](https://github.com/jessesquires/JSQMessagesViewController/blob/develop/README.md), [documentation](http://cocoadocs.org/docsets/JSQMessagesViewController/), and [FAQ](https://github.com/jessesquires/JSQMessagesViewController/blob/develop/Documentation/faq.md).
- [X] I have reviewed the [contributing guidelines](https://github.com/jess

[2016-05-28 01:41] jessesquires commented on #1608
Hey @GianniCarlo ! 😄

I would definitely like for the 2 demo projects to be as similar/consistent as possible. Preferably staying closer to the existing ObjC demo (with the exception of adding a "chat list" -- which would be a nice addition to the ObjC demo).

For now, I've been accepting most of @MacMeDan's pull requests without too many changes requests so that we can move quickly, but it would

[2016-05-28 03:35] MacMeDan commented on #1608
Agreed @jessesquires and @GianniCarlo 👍🏼.
I removed the chat list because it had a error and It was not actually doing anything but if there is value in it I can definitely add it back in. I just feared that it may confuse people more then it help.
I'll take a look at this pull request and see what you are up too.
Definitely open to suggestions. I am just trying to get on par with the Object C ver

[2016-05-28 05:20] GianniCarlo commented on #1608
Great! @MacMeDan I'll explain here my changes, let me know when you get the chance to check it out.

What I think we can do about the chat list, once we got the settings ViewController fleshed out in Swift, it might make sense to add it as another option in that list.

#### Chat List
What I tweaked there was to show the difference in the text preview between a chat of two people and a group chat.

[2016-05-28 05:23] GianniCarlo commented on #1608
btw `JSQAudioMediaItem` isn't implemented in 7.2.0 apparently. I had to change it to 7.3.0 to make it run

[2016-05-28 06:17] MacMeDan commented on #1608
Interesting I had no issue with 7.2 but ya I will take a look later. I do already have a pull request for adding avatars to the demo and displaying the senders name over the bubble.

[2016-05-28 06:44] rafus15 commented on #1586
Hi!
I've fixed by cleaning the project, including the build cache (Command-Option-Shift-K)
Removing the pod.lock file and the pods.xcodeproj
And running pod update again (with Xcode closed)
Then building again.

Hope it helps

[2016-05-28 14:16] Marcoc88 commented on #1586
Thank you!! The step I was missing was including the build cache (Command-Option-Shift-K). Problem resolved.

[2016-05-28 14:18] sebastianludwig commented on #1575
Mmmhhh...I'd prefer an explicit solution like `self.inputToolbar.sendButtonEnabled = NO;` and change the implementation of `toggleSendButtonEnabled` to take that setting into account. And while we're on it, rename `toggleSendButtonEnabled` to `updateSendButtonEnabled` because it doesn't toggle. @jessesquires, are you up for a PR?

[2016-05-28 16:20] jessesquires commented on #1608
Also, small PRs please 😊

[2016-05-28 16:53] maxiundtesa opened #1610 "Chatbubbles of JSQPhotoMediaItem and JSQAudioMediaItem get mixed up"
Hello,
I am having the issue that when I am having JSQPhotoMediaItems and JSQAudioMediaItems loaded up at the same time, it sometimes gets mixed up. This is only happening when both (Image and Audio) are present and when you scroll through the messages.

It looks like this:
Before Scrolling:
![image before](https://cloud.githubusercontent.com/assets/17526240/15628545/d70ec896-2503-11e6-9bf6-98c70f

[2016-05-28 17:17] rafus15 commented on #1586
I'm glad I helped you!

[2016-05-28 23:26] Steven4294 opened #1611 "[Help] Using JSQMessagesViewController for commenting feature"
I'm trying to use this library to implement a commenting feature - similar to how Venmo does it (screenshot attached). I'm wondering if it even makes sense to use this library, given the amount of customization that would be required. I was wondering if this had been done before.

I would have to provide custom cells for the actual comments, as well as figure out a way to have the actual text post

[2016-05-29 19:39] MacMeDan commented on #1608
Yes little chunks is the way to go. Makes it easier to see issues and get your code reviewed faster and when the base changes there are less conflicts.

[2016-05-29 20:01] GianniCarlo commented on #1608
Agreed, I just got a little too excited when transcribing the objective c demo to swift. I'll close this issue and split my changes into various pull requests for you @MacMeDan to checkout 👍

[2016-05-29 20:24] MacMeDan commented on #1608
Ya so looking through your code there are a ton of great things the issue is that this pull request would take weeks of back and forth to get it in. I would take one feature at a time and create pull requests with just that feature.

Also I think with each feature we should add a setting to turn them on and off. This way any code relating to the feature is easily discovered without having to comb

[2016-05-29 20:29] MacMeDan opened #1613 "Video message support example in swift."
Add an example message with video content in the swift example project.

[2016-05-29 20:32] MacMeDan opened #1614 "Photo message support example in swift."

[2016-05-29 20:33] MacMeDan opened #1615 "Location message support example in swift."

[2016-05-29 20:33] MacMeDan opened #1616 "Audio message support example in swift."

[2016-05-29 20:34] MacMeDan opened #1617 "Simulating incoming message in swift example."

[2016-05-29 20:35] MacMeDan opened #1618 "Example of animating `...` in swift example."

[2016-05-29 20:37] MacMeDan opened #1619 "Removing sender ID for multiple messages sent by the same person in swift example."

[2016-05-29 20:38] MacMeDan opened #1620 "Support for group messages in swift example."

[2016-05-29 20:45] MacMeDan commented on #1601
@jessesquires I have started implementing this in all my personal projects and agree. We should probably move this same direction on messageKit. 💯

[2016-05-29 22:22] GianniCarlo commented on #1608
Great! I'll get right on them 👍

[2016-05-30 09:32] radekcieciwa commented on #1382
I would like to tackle that issue, but i'm not sure yet if i will use #1509 for that.

[2016-05-30 14:02] VasylKhmil opened #1624 "How to add subview via storyboard?"
I've extended `JSQMessagesViewController`, and I'm trying to customize my controller by adding extra views from storyboard. Unfortunately it was not possible for me to do. Each subview is removed somewhere between `viewWillAppear:` and `viewDidAppear:` calls.

Do somebody know where is a problem?

[2016-05-30 18:58] jessesquires commented on #1604
fixed by #1623

[2016-05-30 18:58] #1604 closed

[2016-05-30 18:58] jessesquires commented on #1602
fixed by #1623

[2016-05-30 18:58] #1602 closed

[2016-05-30 19:53] eliburke commented on #1601
Just curious-- are you guys talking about placement of views and controls? Constraints? I tend to build things in code (e.g. AudioMediaItem) but I think there's no debating that it makes it harder for people to understand what is going on and customize to suit themselves.

[2016-05-30 21:15] jessesquires commented on #1601
- Definitely removing the view controller nib, as it doesn't provide much value.
- Not sure about the toolbar.
- For cells, I will likely keep these.

[2016-05-30 22:02] jessesquires commented on #1587
Fixed by 752fd38aa8b899cbe2e21b6595de58920977bfc2

[2016-05-30 22:02] #1587 closed

[2016-05-30 22:02] jessesquires commented on #1565
Fixed by 752fd38aa8b899cbe2e21b6595de58920977bfc2

[2016-05-30 22:02] #1565 closed

[2016-05-30 22:08] jessesquires commented on #1299
Should be fixed in 7.3

Also will be fixed in 8.0 by 752fd38aa8b899cbe2e21b6595de58920977bfc2

[2016-05-30 22:08] #1299 closed

[2016-05-30 22:10] jessesquires commented on #1158
This is pretty old, should be fixed with some other recent changes.

Also, haven't had any other reports of this.

Closing out.

[2016-05-30 22:10] #1158 closed

[2016-05-30 22:11] #1048 closed

[2016-05-30 22:11] jessesquires commented on #1000
Fixed by 752fd38aa8b899cbe2e21b6595de58920977bfc2

[2016-05-30 22:11] #1000 closed

[2016-05-30 22:11] jessesquires commented on #993
Fixed by 752fd38aa8b899cbe2e21b6595de58920977bfc2

[2016-05-30 22:11] #993 closed

[2016-05-30 22:12] jessesquires commented on #993
You can now use `.keyboardDismissMode`

[2016-05-30 22:12] jessesquires commented on #941
Fixed by 752fd38aa8b899cbe2e21b6595de58920977bfc2

[2016-05-30 22:12] #941 closed

[2016-05-30 22:14] jessesquires commented on #906
Should be fixed by 752fd38aa8b899cbe2e21b6595de58920977bfc2

[2016-05-30 22:14] #906 closed

[2016-05-30 22:14] jessesquires commented on #808
No longer supporting iOS 7. Closing this out. 😄

[2016-05-30 22:14] #808 closed

[2016-05-30 22:15] jessesquires commented on #799
Should be fixed by 752fd38aa8b899cbe2e21b6595de58920977bfc2

[2016-05-30 22:15] #799 closed

[2016-05-30 22:15] jessesquires commented on #675
Replaced by #1608

[2016-05-30 22:15] #675 closed

[2016-05-30 22:16] jessesquires commented on #523
Not happening anytime soon. Closing this.

[2016-05-30 22:16] #523 closed

[2016-05-30 22:21] jessesquires commented on #380
Fixed by 752fd38aa8b899cbe2e21b6595de58920977bfc2

[2016-05-30 22:21] #380 closed

[2016-05-30 22:22] jessesquires commented on #360
With 752fd38aa8b899cbe2e21b6595de58920977bfc2 merged, using `.keyboardDismissMode` is the preferred method for dismissing keyboard.

Closing this. Clients can implement this manually if they wish.

[2016-05-30 22:22] #360 closed

[2016-05-30 22:23] jessesquires commented on #236
Decision:

After some thought, I've determined that this is very client-specific and beyond the scope of this library.

[2016-05-30 22:23] #236 closed

[2016-05-30 22:25] jessesquires commented on #1382
Another old attempt was here: #1524

[2016-05-30 22:29] jessesquires commented on #1608
Hey @MacMeDan and @GianniCarlo 😄

Thanks for taking on this work! I'm trying to keep issues organized and lean. Going through a bunch of stuff today, and closing things out.

Let's keep this issue open and use @MacMeDan's checklist above to track this work instead of individual issues. 👍

Sorry for the churn! 😊

[2016-05-30 22:29] jessesquires commented on #1620
Closing in favor of tracking via #1608

[2016-05-30 22:29] #1620 closed

[2016-05-30 22:29] jessesquires commented on #1619
Closing in favor of tracking via #1608

[2016-05-30 22:29] #1619 closed

[2016-05-30 22:29] jessesquires commented on #1618
Closing in favor of tracking via #1608

[2016-05-30 22:29] #1618 closed

[2016-05-30 22:29] jessesquires commented on #1617
Closing in favor of tracking via #1608

[2016-05-30 22:29] #1617 closed

[2016-05-30 22:29] jessesquires commented on #1616
Closing in favor of tracking via #1608

[2016-05-30 22:29] #1616 closed

[2016-05-30 22:30] jessesquires commented on #1615
Closing in favor of tracking via #1608

[2016-05-30 22:30] #1615 closed

[2016-05-30 22:30] jessesquires commented on #1614
Closing in favor of tracking via #1608

[2016-05-30 22:30] #1614 closed

[2016-05-30 22:30] jessesquires commented on #1613
Closing in favor of tracking via #1608

[2016-05-30 22:30] #1613 closed

[2016-05-30 22:31] jessesquires commented on #1610
Thanks @maxiundtesa ! 😄

This is likely a bug in what you are returning in `messageDataForItemAtIndexPath:`

See the demo for examples

[2016-05-30 22:31] #1610 closed

[2016-05-30 22:33] jessesquires commented on #1611
Thanks @Steven4294 ! 😄

There are a lot of previously answered questions about customizing cells:
https://github.com/jessesquires/JSQMessagesViewController/issues?q=is%3Aissue+custom+cells+in%3Atitle+is%3Aclosed

[2016-05-30 22:33] #1611 closed

[2016-05-30 22:34] jessesquires commented on #1624
Hey @VasylKhmil 😄

So you won't be able to load a *storyboard*, but you could load custom `xib`s.

There's no reason you couldn't do this in the usual way via `viewDidLoad`

[2016-05-30 22:34] #1624 closed

[2016-05-31 00:16] Steven4294 commented on #1611
Yeah I saw that - I was wondering if there was any higher level advice you could offer. Was wondering it would be quicker to just build it on my own rather than using this, since all the customization would take longer to figure out.

[2016-05-31 02:55] bishalg commented on #925
@dequan : Have you found any example describing in detail how to do it ?

Found one solution in this blog -
http://www.scriptscoop2.com/t/b2ff94d505e8/ios-how-to-add-a-searchbar-to-jsqmessagesviewcontroller.html

He removes it from superview -
`self.inputToolbar.removeFromSuperview()`

dont know if that is the proper way of doing this ?

[2016-05-31 08:57] ShawnFoo opened #1625 "CollectionView won't scroll up when using 3rd-party keyboard app as input source"
[code]

---

Hi
   I found JSQCollectionView' content won't scroll up when 3rd keyboard(System keyboard is ok) pop up as input source for JSQTextView. Although the collectionView.offsetInsets are correct logging by breakpoint.
   Any ideas that what I have missed  : [

[2016-05-31 13:07] maxiundtesa commented on #1610
Do you mean this method : `- (id<JSQMessageData>)collectionView:(JSQMessagesCollectionView *)collectionView messageDataForItemAtIndexPath:(NSIndexPath *)indexPath
{
    return [self.demoData.messages objectAtIndex:indexPath.item];
}`?

Because I am using exactly the same just in swift: ` override func collectionView(collectionView: JSQMessagesCollectionView!,
                                 messa

[2016-05-31 14:24] jessesquires commented on #1625
Thanks @ShawnFoo ! 😄

I'm pretty sure this is now fixed on `develop` if you want to try it out.

[2016-06-01 03:31] Steven4294 commented on #1611
like would it be possible to add a headerView (supplementary collection view) to the `JSQMessagesViewController` `@property collectionView`?

[2016-06-01 22:06] radekcieciwa opened #1627 "Update Cocoapods to stable release version 1.0.0"
## New issue checklist

- [x] I have read all of the [`README`](https://github.com/jessesquires/JSQMessagesViewController/blob/develop/README.md), [documentation](http://cocoadocs.org/docsets/JSQMessagesViewController/), and [FAQ](https://github.com/jessesquires/JSQMessagesViewController/blob/develop/Documentation/faq.md).
- [x] I have reviewed the [contributing guidelines](https://github.com/jess

[2016-06-02 04:12] fans3210 commented on #1257
I'm having the same problem on iphone 6s simulator. Iphone 5s is fine.
The issue on iphone 6 simulator is:
If I load message from internet or from cache, the bubble size is ok.
Once I store that message in a local variable and go go back to the chat page again using navigation controller and load that chat massage from memory, the bubble width become about 30px smaller.

I tracked down the calcula

[2016-06-02 10:45] NuelNikhil opened #1629 "Showing empty Bubble on Sending Image"
Sorry If this has been solved already When  tried to send an Image i got an extra empty Bubble

**My Code**

[code]

**Function that Send's Message to server**

  func sendMessage(text : String? , video : NSURL? , image : UIImage? , senderId: String!, senderDisplayName: String!, date: NSDate?)
    {

        if let hub = chatHub {
             if let _message =  text
                {

[2016-06-02 11:08] vishnuag05 commented on #492
Seriously autolayout sucks , I always wondered whether I am doing something wrong but seems like its a universal problem

[2016-06-02 11:16] NuelNikhil commented on #1629
Done..  Changed     **if let _message =  text**  to  **!(text?.isEmpty)!**

[2016-06-02 11:16] #1629 closed

[2016-06-02 13:46] nixxcode opened #1631 "KVO crash introduced in 7.3.0 / 7.3.1 (JSQMessagesKeyboardController)"
This crash appears to have been introduced in release 7.3.0.
I cannot reproduce the crash with release 7.2.0.

An exception is thrown when the app loses focus, for example due to swiping down on an incoming SMS banner;
[code]

[2016-06-02 15:06] nyekimov opened #1632 "Displaying of more than one JSQLocationMediaItem at the same time breaks navigation bar push/pop animation"
I've experienced issue with loading multiple JSQLocationMediaItems in a chat. I've added steps to reproduce, just assume that while showing the chat you receive multiple messages with location and try to display them, then go back and again to the chat several times and observe that at some point navigation bar stops pop/push animations (more JSQLocationMediaItems you have - it happens faster)

[c

[2016-06-02 15:41] jessesquires commented on #1632
Thanks @nyekimov !

[2016-06-02 15:46] jessesquires commented on #1631
Thanks @nixxcode !

To clarify:

You have to receive a notification banner while `JSQMessagesViewController` is the top-most controller?

[2016-06-02 15:48] jessesquires commented on #1632
Can you explain what you mean by "breaks navigation bar push/pop animation" ?

Breaks in what way? Can you post a gif/video?

[2016-06-02 15:50] nixxcode commented on #1631
@jessesquires that appears to be the case; in my scenario JSQMessagesViewController was being used to send an SMS that was then immediately delivered to the phone, swiping down on the banner then triggered the crash. Hope that helps!

[2016-06-02 15:57] jessesquires commented on #1631
👍

Possible fixes here:

Maybe we listen for app did background/foreground to add/remove observers. This assumes that these notifications fire when interacting with a notification. (Not sure if that's the case)

[2016-06-02 16:14] nyekimov commented on #1632
attaching zipped mp4 video with the issue happening in a simulator. Haven't found better way to demonstrate the issue.
 At the end you should observe that there is no more transition animations while pushing/popping a viewcontroller.

[bug.mp4.zip](https://github.com/jessesquires/JSQMessagesViewController/files/296021/bug.mp4.zip)

[2016-06-02 16:17] tonylenzi commented on #1168
@JonMo

You could use a category for this for now, might be a bit cleaner than modifying the underlying library:

[code]

[2016-06-02 16:32] jessesquires commented on #1632
Thanks @nyekimov !

One more thing -- any logs you can provide as well?

[2016-06-02 16:43] nyekimov commented on #1632
@jessesquires debugger is empty while executing these manipulations.

[2016-06-03 10:10] nixxcode commented on #1631
This crash was introduced by commit b7f487cc92f2adfc6636da7a20e0195442f626fb

Specifically, `-[JSQMessagesKeyboardController jsq_didReceiveKeyboardDidShowNotification:]` now looks for a `UIInputSetHostView` - this is the deallocated object that was identified in the exception.

Changing `JSQMessagesKeyboardController`'s `keyboardView` property to `strong` fixes the crash for me.

[2016-06-03 23:53] #1627 closed

[2016-06-04 00:12] hacker1599 opened #1638 "uncaught exception 'NSInvalidArgumentException', reason: '-[JSQMessagesBubbleImageFactory outgoingMessagesBubbleImageWithColor:]: unrecognized selector sent to instance"
so let me just start by saying i am new to ios development so please forgive me if i ask stupid questions
but i am building a chat app and i keep getting this error:

 *** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '-[JSQMessagesBubbleImageFactory outgoingMessagesBubbleImageWithColor:]: unrecognized selector sent to instance

my code:

`//
//  MessagesViewContr

[2016-06-04 00:27] jessesquires commented on #1638
`outgoingMessagesBubbleImageWithColor:` is an instance method, not a class method.

you need to `alloc] init]` the factory first

[2016-06-04 00:27] #1638 closed

[2016-06-04 18:21] hacker1599 commented on #1638
thank you very much

[2016-06-04 18:41] IceFloe opened #1640 "Bug in scrollToBottomAnimated"
Hi @jessesquires, one small bug I have found in the scrollToBottomAnimated function, when we calculate maxHeightForVisibleMessage. We should also minus self.collectionView.contentInset.bottom.

Should be like this one

`CGFloat maxHeightForVisibleMessage =
    CGRectGetHeight(self.collectionView.bounds) -
    self.collectionView.contentInset.top -
    self.collectionView.contentInset.bottom -

[2016-06-04 19:20] jessesquires commented on #1640
Thanks @IceFloe ! 😄

A pull request for the first issue would be great! 👍

The second bug was fixed in `v7.3.1`

[2016-06-04 19:21] jessesquires commented on #1640
Be sure to submit the fix to the `release_7.3` branch 😊

[2016-06-04 19:22] hacker1599 opened #1641 "erminating app due to uncaught exception 'NSInvalidArgumentException', reason: '-[JSQMessagesCollectionViewFlowLayoutInvalidationContext setInvalidateFlowLayoutMessagesCache:]: unrecognized selector sent to instance"
can you please tell me why i am getting this error:

terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '-[JSQMessagesCollectionViewFlowLayoutInvalidationContext setInvalidateFlowLayoutMessagesCache:]: unrecognized selector sent to instance

[code]

[2016-06-04 19:26] jessesquires commented on #1641
Thanks @hacker1599 ! :smile:

Please provide all the information in the [issue template](https://github.com/jessesquires/JSQMessagesViewController/blob/develop/.github/ISSUE_TEMPLATE.md) so we can help!
And don't forget to read our [contribution guidelines](https://github.com/jessesquires/JSQMessagesViewController/blob/develop/.github/CONTRIBUTING.md). :blush:

[2016-06-04 19:26] #1641 closed

[2016-06-05 13:18] 474404603 opened #1643 "Third-party input keyboard pops up, will keep out live chat content"
@jessesquires

Third-party input keyboard pops up, will keep out live chat content.

### General information
- Library version(s):7.3.1
- iOS version(s):9.3.2
- Devices/Simulators affected: iphone6
- Reproducible in the demo project? (Yes/No): YES
- Related issues:

[2016-06-05 19:01] jessesquires commented on #1643
Thanks @474404603 !

What do you mean by this?

Also, this might be fixed on `develop` with the recent keyboard handling changes

[2016-06-05 23:07] #1600 closed

[2016-06-05 23:20] #1640 closed

[2016-06-05 23:22] #1631 closed

[2016-06-06 10:54] bitomule opened #1645 "Custom cell from nib"
## New issue checklist

- [x ] I have read all of the [`README`](https://github.com/jessesquires/JSQMessagesViewController/blob/develop/README.md), [documentation](http://cocoadocs.org/docsets/JSQMessagesViewController/), and [FAQ](https://github.com/jessesquires/JSQMessagesViewController/blob/develop/Documentation/faq.md).
- [x ] I have reviewed the [contributing guidelines](https://github.com/je

[2016-06-06 11:57] danieljvdm commented on #927
I'm getting the same problem now randomly. Didn't change anything in my project and all of a sudden getting

 /Pods/JSQMessagesViewController/JSQMessagesViewController/Categories/JSQSystemSoundPlayer+JSQMessages.h:19:9: 'JSQSystemSoundPlayer/JSQSystemSoundPlayer.h' file not found

[2016-06-06 12:02] danieljvdm commented on #927
Fixed by deleting DerivedData

[2016-06-06 13:56] bitomule commented on #1645
I've managed to make it work using a custom JSQMessagesBubblesSizeCalculator and setting cell width to layout.collectionView.bounds.width.

messageBubbleSizeForMessageData always return a 100px width

[2016-06-06 13:56] #1645 closed

[2016-06-06 14:06] eliburke commented on #1645
@bitomule Glad you got it working! Would you care to post any of your source code or any additional information for others to use?

[2016-06-06 15:11] bitomule commented on #1645
Sure! I'ts on Swift.

Hope I can help anyone trying to add a custom cell.

To handle custom size cells I just created a custom JSQMessagesBubblesSizeCalculator:

[code]

MyCustomMessageCell.heightForMessage is a class method that does height calculation based on message content and width. That was causing my white space issue as super returned width was always 100 and no the real view width once d

[2016-06-06 22:32] McFriend opened #1646 "Tap to remove keyboard"
I want to remove keyboard when user taps the screen. How shall I do it?
Thank you

[2016-06-07 00:56] jessesquires commented on #1646
Thanks @McFriend ! :smile:

This doesn't seem specific to the library. StackOverflow is a more appropriate place to ask this question. :blush:

I'm going to close this issue, but the community should feel free to continue the discussion here.

### Other ways to get help:

* Ask on [StackOverflow](http://stackoverflow.com/questions/tagged/jsqmessagesviewcontroller) with the `jsqmessagesviewcontroll

[2016-06-07 00:56] #1646 closed

[2016-06-07 02:24] #1382 closed

[2016-06-07 02:29] jessesquires commented on #1337
Old attempt at #767

[2016-06-07 04:55] jessesquires opened #1647 "Clean up JSQMessagesTypingView, write docs"
Need some cleanup from #1626.

`JSQMessagesTypingView` implementation could be a bit cleaner.
- Use `CGRectGet*()` functions
- Property setup is weird, just have methods
- Lots of magic numbers
- Write docs

[2016-06-07 05:07] jessesquires commented on #558
Fixed by #1063, #1529

[2016-06-07 05:07] #558 closed

[2016-06-07 05:10] jessesquires commented on #557
Fixed by #1063, #1529

[2016-06-07 05:10] #557 closed

[2016-06-07 05:13] jessesquires opened #1648 "When hardware (bluetooth) keyboard is connected, collection view contentInset.bottom is wrong"
1. Connect apple bluetooth keyboard on iPad
2. send messages
3. Note that `contentInset.bottom` and `scrollIndicatorInsets.bottom` are incorrect (too large)

[2016-06-07 05:16] jessesquires commented on #1362
Hm. Seems unrelated.

[2016-06-07 05:16] #1362 closed

[2016-06-07 05:24] jessesquires commented on #450
You can also repro this by switching between english and emjoi.

Should be an easy fix. Listen for keyboard frame change notif and adjust insets.

[2016-06-07 05:26] jessesquires commented on #776
Attempt at #1213 if someone wants to pickup where it left off

[2016-06-07 05:30] jessesquires commented on #774
Fixed in #1636

[2016-06-07 05:30] jessesquires commented on #918
Fixed in #1636

[2016-06-07 05:30] #918 closed

[2016-06-07 05:32] jessesquires opened #1649 "[8.0] Remove JSQSystemSoundPlayer dependency"
This library is growing and we want to make it lighter weight.

`JSQSystemSoundPlayer` is great, and it works great with `JSQMessages`.

However, it does **not** need to be a dependency forced on clients. Clients can easily add this themselves if they wish.

[2016-06-07 05:40] jessesquires opened #1650 "[8.0] Clean up included assets"
We should remove the audio and most bubble image assets. Only keep the default bubble images.

Goal: a lighter library, also `JSQSystemSoundPlayer` will be removed. (#1649)
1. Add subspec for audio assets
2. Add subspec for extra bubble assets
3. Add subspec for strings

[2016-06-07 05:45] #1649 closed

[2016-06-07 05:50] jessesquires commented on #1497
Fixed by #1649

[2016-06-07 05:50] #1497 closed

[2016-06-07 06:06] Lucashuang0802 commented on #776
I have done this before, do you prefer to continue from #1213 or start from `develop` branch?

[2016-06-07 06:20] JPMartha commented on #450
Hi @jessesquires, nice to meet you!

Could I ask what is this issue just in case?
The solution is scrolling to the most recent message automatically, right?
In other words, we can see the most recent message when a keyboard frame is changed.

[2016-06-07 09:22] thuanngo1990 commented on #1497
I still got same issue (using swift 2.2 , xcode 7.3.1 and cocoaPods 1.0), it work only in simulator. In my devide (iphone 6 , ver 9.3.2).  My pods file also change to "platform :ios, '8.0'
use_frameworks! " @Mackarous  . It still happening.   This's message :
 + 'JSQSystemSoundPlayer/JSQSystemSoundPlayer.h' file not found.
 + Could not build Objective-C module 'JSQMessagesViewController'.
Anything

[2016-06-07 14:40] jessesquires commented on #776
Hey @Lucashuang0802 😄

We should definitely start fresh from `develop`, but use #1213 as a reference. There have been a few significant changes since #1213, but most of the work there is probably still correct, so it's a good reference 👍

[2016-06-07 14:42] jessesquires commented on #450
@JPMartha Ah, yes -- that's correct!

[2016-06-07 14:42] eliburke commented on #1650
Do the assets get moved into the Demo project, or removed entirely? How does this affect test cases and testability? I suppose that we could auto-generate both for those purposes.

[2016-06-07 14:43] jessesquires commented on #450
Hm.. ok. so this is a bit more complicated now.

We **do not** want to scroll *every* time the keyboard frame changes — only when it changes by this small amount.

[2016-06-07 14:44] jessesquires commented on #1497
The fix is on `develop` and will be included with `v8.0` of the library

[2016-06-07 14:48] jessesquires commented on #1650
I want to move to this model:

1. Standalone framework project for the library
2. New top-level `Example/` directory. Shove the demo in there and link to the local pod.

They should be cocoapod subspecs. Admittedly, I still don't know *that* much about how subspecs work with regard to this

It shouldn't

[2016-06-07 16:44] #866 closed

[2016-06-07 18:34] Lucashuang0802 commented on #776
I noticed some of them has included the modifiers. I have done this by following the existing documentation. I have also run a couple eye-scanning checks myself. lol. #1654. I do believe having another person to check is better for this change.

[2016-06-07 20:25] hammad commented on #740
@borishart your solution worked for me too :)

[2016-06-08 00:02] #1583 closed

[2016-06-08 00:18] jessesquires opened #1657 "Improve JSQMessagesAvatarImageFactory"
Make `JSQMessagesAvatarImageFactory` an instance with instance methods, instead of a bunch of class methods.

Same as #866

init `JSQMessagesAvatarImageFactory` with a `diameter` and use this internally instead of passing as param

[2016-06-08 01:24] JPMartha commented on #450
I see.
I am busy until this Saturday, but it is over, I'd like to contribute to your project.

[2016-06-08 04:29] prashantcraju commented on #1218
Hey @jessesquires,

I think i found the solution. I spent the last few days trying to fix this issue and it turns out it was a pretty simple fix. In JSQMessagesCollectionViewLayoutAttributes, I changed

`- (instancetype)copyWithZone:(NSZone *)zone`
to

`- (id)copyWithZone:(NSZone *)zone`

Although it still gives the warning, it no longer crashes.

[2016-06-08 08:15] burntheroad commented on #1657
Wow, thanks for noting me @jessesquires I'll take this 😀

[2016-06-08 11:39] robertturrall opened #1658 "Adding an imageView to the cell contentView/backgroundView"
This is not exactly #275 but the problem is related and I fear that the answer will be subclassing.

I need to be able to add an imageView to the cell, to be displayed behind a media message (hence it's not solved by being able to display a media message). The image should cover the whole width of the cell contentView.

I've tried to remove/set to nil and then set and addSubview the imageView in c

[2016-06-08 12:48] eliburke commented on #1658
@robertturrall I'm not sure I understand what you mean by "This is not working as it needs to be set/unset within the context of reuse for the cells and clearly isn't this way." -- did it work but you just don't think "correct"? Or is it not working at all?

If you subclass JSQMessagesViewController  and use a category to add an imageView property to the incoming and outgoing cells, you can overri

[2016-06-08 12:53] robertturrall commented on #1658
@eliburke thanks for the suggestion. It makes a lot more sense than subclassing all the way down. Subclassing the incoming and outgoing cells and then casting to them in cellForItemAtIndexPath didn't work either as the original classes are being referenced at a later point and causing a crash.

What I meant by "This is not working as it needs to be set/unset within the context of reuse for the cel

[2016-06-08 13:25] robertturrall commented on #1658
@eliburke would you be able to elaborate on "you can override cellForItemAtIndexPath to initialize the property and add it to the underlying contentView"?

I've created categories for each of the incoming and outgoing cells, both holding an imageView property. These categories are then imported into my JSQMessagesViewController subclass.

In cellForItemAtIndexPath I then assign cell depending on w

[2016-06-08 14:01] robertturrall commented on #1658
@eliburke figured out how to get the categories working but not seeing the imageview in the background at the moment. I'll carry on and see if I can figure it out.

Here's an example of the implementation for one of the categories... does this look correct:

header:

[code]
implementation:

[code]

[2016-06-08 15:58] MacMeDan commented on #1648
I looked into this but did not see anything wrong with the way it displayed. Are there any other steps to get it in the state in question or could we add a screen shot. I am on a iPhone 6s+

[2016-06-08 16:19] jessesquires commented on #1648
Ah, sorry. Tested on iPad. Might be iPad-only

[2016-06-08 16:23] MacMeDan commented on #1648
Ok Ill take a look on there then. 👍🏼

[2016-06-08 16:23] #1657 closed

[2016-06-08 17:59] eliburke commented on #1658
@robertturrall are you doing lazy loading? Do the cells always appear in the wrong place? Are they duplicated? Do they only sometimes show up in the wrong place? If you are not always using a background image, make sure you remove it for cells that don't use it.
(maybe consider creating the imageView in cellForItem, and assigning it to nil or to an image in willDisplayCell)

[2016-06-09 07:15] srinathp90 opened #1661 "InputToolbar appears in front of tabbar"
I've UITabBarController. This tabBar will appears behind the JSQMessagesInputToolbar. How can i make this JSQMessagesViewController smaller? am not using container view. This happens after updating to v7.3.2.I need to show InputToolbar above the tab bar. Please help me  i attached the screenshot. @jessesquires @mombrea
![screen shot 2016-06-09 at 12 44 03 pm](https://cloud.githubusercontent.com/as

[2016-06-09 07:17] robertturrall commented on #1658
@eliburke no lazy loading... the problem is that the images show on the correct cells, but also on other cells upon scrolling. Despite the image and imageView being nilled and removed in cellForItemAtIndexPath :

[code]

What you describe is what I'm doing, but all in cellForItemAtIndexPath.

My assumption is that this is down to the use of addSubView here. The imageView is simply not being reliab

[2016-06-09 10:37] robertturrall commented on #1658
I have also tried creating and assigning to the imageView in cellForItemAtIndexPath, and assigning it to nil or to an image in willDisplayCell for cases where the image should not be displayed (as a "failsafe") BUT this cannot work as the cell class passed into willDisplayCell is UICollectionViewCell. I can cast this to JSQMessagesCollectionViewCellOutgoing/JSQMessagesCollectionViewCellIncoming bu

[2016-06-09 12:28] bitomule opened #1662 "Swift memory leaks"
I've subclassed JSQMediaItem to create a custom photo item and it causes it to be memory retained.

I create my item when I create JSQMessage:

`JSQMessage(senderId: String(self.sender.id), displayName: "\(self.sender.firstName) \(self.sender.lastName)", media: PhotoChatItem(message: self))`

Chat controller is released but PhotoChatItem is never released. I've just a simple empty subclass:

[code

[2016-06-09 15:35] halvini opened #1663 "The app crashes because of new "Delete" selector which is added in 7.3"
When I select a text in my textInputView it offers me a new button I've never seen there before: "Delete".

If I press that button, the app crashes. Yesterday my app reported 1200 crashes because of this issue.

<img width="323" alt="screenshot 2016-06-09 17 33 17" src="https://cloud.githubusercontent.com/assets/16026223/15935687/6b28f340-2e68-11e6-80b6-e36110cfeab1.png">

`
2016-06-09 17:28:13.32

[2016-06-09 15:38] halvini commented on #1663
The auto-correction stopped working:

<img width="393" alt="screenshot 2016-06-09 17 37 23" src="https://cloud.githubusercontent.com/assets/16026223/15935800/e9550f6a-2e68-11e6-8f14-fa8dd911d990.png">

If my users make mistakes and then press the correct word, it does not work. Nothing actually happens.

My app is written on Swift. I have the last version of JSQ and it is integrated through CocoaP

[2016-06-09 15:48] jessesquires commented on #1663
Thanks for reporting @halvini !

We'll get on this 👍

[2016-06-09 15:51] jessesquires commented on #1663
Bug was introduced by #1281

[2016-06-09 16:35] halvini commented on #1663
There is one more issue in 7.3.1.

When my users chat and receive push-notifications from other apps, if they press them it also leads to crashes.

Unfortunately, I could not reproduce that on iPhone 6 iOS 9.3, but on iPhone 5 iOS 8.3 it definitely crashes.

[2016-06-09 16:37] halvini commented on #1663
I am actually about to revert to 7.2, as 7.3 first lead to many crashes on iOS 7, then these crashes....

I haven't had so many crashes since the launch of my app.

[2016-06-09 17:28] GianniCarlo commented on #1663
@jessesquires I found a quick solution to the delete crash, already created [pull request](https://github.com/jessesquires/JSQMessagesViewController/pull/1664). The other issue listed here about the spell check suggestion pressed not changing the text I haven't had time to check it out.

[2016-06-09 17:29] GianniCarlo commented on #1663
oh damn, I forgot to ignore my pods in swift x.x I'll fix that pull request ASAP

[2016-06-09 17:33] GianniCarlo commented on #1663
pull request fixed

[2016-06-09 18:06] #1658 closed

[2016-06-09 20:47] eliburke commented on #1658
@robertturrall I was able to make your feature work, although I did see some of the behavior you described along the way, leading me to believe you have a subtle bug in your code.

Try adding the following code to the Demo project. For as many messages as I loaded, it did not fail, repeat, or otherwise appear incorrect. If you can break it in the demo, let me know and I'll look further.

DemoMessa

[2016-06-10 02:22] #776 closed

[2016-06-10 02:27] jessesquires commented on #1608
hey guys, heads up #1654 is probably going to break all your swift code 😅

[2016-06-10 04:09] #1663 closed

[2016-06-10 04:24] MacMeDan commented on #1608
That's alright tomorrow after lunch I'll have a couple of hours so I'll get it working again. 🤓

[2016-06-10 04:46] jessesquires commented on #1662
Thanks @bitomule ! :smile:

This doesn't seem specific to the library. StackOverflow is a more appropriate place to ask this question. :blush:

I'm going to close this issue, but the community should feel free to continue the discussion here.

### Other ways to get help:

* Ask on [StackOverflow](http://stackoverflow.com/questions/tagged/jsqmessagesviewcontroller) with the `jsqmessagesviewcontroll

[2016-06-10 04:46] #1662 closed

[2016-06-10 10:58] sreeji44 commented on #1546
@rosslebeau  sorry for interacting inside this... but if you done new/unread message Line can you help me by posting some tips.. and code. hope you will done this..

[2016-06-10 16:51] rosslebeau commented on #1546
@sreeji44 I have not done it, as it hasn't come up on my roadmap yet and I'm hoping JSQMessages v8.0 will be done first 😄 right now it will likely be a decent amount of work for such a small feature. It should be easy in v8.0.

[2016-06-11 05:02] sreeji44 commented on #1546
@rosslebeau :) thankz for the reply and i also need to find it quickly as possible for my mission..  JSQMessage v8.0 when will release that  version 😄

[2016-06-11 11:51] relatedcode opened #1668 "Custom menu strange behaviour"
### General information

- Library version(s): 7.3.3
- iOS version(s): 9.3
- Devices/Simulators affected: both
- Reproducible in the demo project? (Yes/No): Yes

## Bug report

http://relatedcode.com/JSQMessagesViewController.mov

[2016-06-11 15:18] jessesquires commented on #1668
Thanks @relatedcode !

[2016-06-11 15:58] GianniCarlo commented on #1668
The first part of the video happens because even though we registered the action, we never set it in the `[UIMenuController sharedMenu].menuItems` in the `viewDidLoad`. Then after it shows up, `didReceiveMenuWillShowNotification:` is called and that's why `Custom Action` shows up next time.

For the second part, `JSQMessagesComposerTextView` is setting up as nil the `menuItems` in `canPerformActio

[2016-06-11 17:24] doncorsean commented on #1566
Seeing same behavior. When text field is resized i.e. LineBreak in textView everything is recalculated and appears correct.

[2016-06-11 18:46] kittany13 commented on #308
another use ... is to mark the messages that have been fail to send to server
in order to let the user try again

[2016-06-12 02:54] someone-coder commented on #1380
@ribhuchawla : @MurLuck did upload his code :)
It took me a while to learn what was happening, but I was able to use his subclasses and make my own custom bubbles.  While doing it this way (subclassing JSQMediaItem) forced me to learn\build uiimageviews, labels, buttons, and autolayout constraints programaticly, I like this way because I now have full control of what is inside the bubble and how a

[2016-06-12 02:58] Lucashuang0802 commented on #450
@jessesquires I'm just wondering what's the status of this issue now? It seems the suggestion bar is shown automatically all the time and looks great. Perhaps because I was testing with iOS 9.3 only?

[2016-06-12 19:03] Lucashuang0802 commented on #1268
@jessesquires You can now set `contentInset` in `viewDidLoad` and the padding will remain when the keyboard appears/dismisses.

[2016-06-13 05:23] maksumon commented on #1482
@BhavinBhadani

Declare `@property (strong, nonatomic) JSQMessagesAvatarImage *userAvatarImage;`

Download the image with following code block in viewDidLoad

[code]

and return the avatar in

[code]

[2016-06-13 05:31] maksumon commented on #1482
If anyone would like to have the class in Objective-C that @macbaszii develop in Swift:

[code]

[code]

Then you can use the class as follows:
[code]

[2016-06-13 11:31] bitomule opened #1671 "MessageBubbleTopLabel different heights in each cell"
I'm trying to display user name only on some cells but I get an Autolayout Issue. I think it's because cell are reused and it's trying yo use a cell with a different height. I get this auto layout issue:

[code]

Seems like NSAutoresizingMaskLayoutConstraint is ignoring MessageBubbleTopLabel height. If I return 12 instead of 0 in heightForMessageBubbleTopLabelAtIndexPath when user name is not disp

[2016-06-13 14:42] Lucashuang0802 commented on #1601
I think so far only `JSQMessagesViewController` is the case? #1670

[2016-06-14 05:28] sbkl commented on #1645
@bitomule Would it be possible to get your code for the subclass of the JSQMessagesCollectionViewCell as well?

Thank you.

[2016-06-14 08:22] Iftahh commented on #843
+1   - any update on this?

[2016-06-14 11:06] bitomule commented on #1645
It's not a JSQMessagesCollectionViewCell , just a collection view cell created in interface builder. I created a custom function to get the size.

[2016-06-14 12:01] sbkl commented on #1645
@bitomule thank you for your answer.

I managed to create a custom JSQMessagesCollectionViewCell.

Do you have the detail of cell.setupForMessage(message)?

When I load my custom cell, it erases the text inside the textView of the bubble.

[2016-06-14 12:05] bitomule commented on #1645
As I said is not a JSQMessagesCollectionViewCell, just a CollectionViewCell. In setupForMessage I set textfields and images of the cell based on message data. I'm sorry but not sure my cell can help debugging your custom JSQMessagesCollectionViewCell.

I just set iboutlet's values.

[2016-06-14 15:22] jessesquires commented on #1671
closing as duplicate of #817

[2016-06-14 15:22] #1671 closed

[2016-06-14 18:52] bitomule commented on #817
I have a similar issue when I return different heights in labels height methods.

[2016-06-15 00:17] Steven4294 opened #1672 "Avatars strange size?"
When you init a `JSQMessagesAvatarImage` with a `UIImage` that is not square, the resulting avatar stretches the content to fill the bubble. The bubble should behave as `UIContentModeApectFill`. Is there a quick fix to this?

[2016-06-16 01:02] krymtn opened #1673 "Update Cell immediately"
How to update JSQMessagesCollectionViewCell bottomLabel currently, i set the data also replace to variable in my array but nothing changes.

The main part is access current cell. How can be ?

/**
 *try this code and cell return null why ?
*/
JSQMessagesCollectionViewCell *cell = (JSQMessagesCollectionViewCell *)[self collectionView:self.collectionView cellForItemAtIndexPath:[NSIndexPath indexPath

[2016-06-16 03:49] GianniCarlo commented on #1673
You should dequeue the cell from inside the `collectionView:cellForItemAtIndexPath:` function and do any customization to the cell from there. If you must do it from outside that function then use
[code]
Compare how `cellForItemAtIndexPath:` is called there to how you're calling it. Let me know if that works for you

[2016-06-16 07:27] krymtn commented on #1673
I wrote like that you prefer
JSQMessagesCollectionViewCellOutgoing *cell = (JSQMessagesCollectionViewCellOutgoing *)[self collectionView:self.collectionView cellForItemAtIndexPath:[NSIndexPath indexPathForItem:index inSection:0]];

but it crashed :(

 *** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Invalid parameter not satisfying: messageItem != nil'

[2016-06-16 08:55] gmansata6290 opened #1674 "How to customize the date format in JSQMessgesViewController?"
## New issue checklist

- [ ] I have read all of the [`README`](https://github.com/jessesquires/JSQMessagesViewController/blob/develop/README.md), [documentation](http://cocoadocs.org/docsets/JSQMessagesViewController/), and [FAQ](https://github.com/jessesquires/JSQMessagesViewController/blob/develop/Documentation/faq.md).
- [ ] I have reviewed the [contributing guidelines](https://github.com/jess

[2016-06-16 15:20] GianniCarlo commented on #1673
Two things:
1.- Check your data source array if indeed you have a message at that index
2.- It's not exactly the same what I wrote
` [self.collectionView cellForItemAtIndexPath:[NSIndexPath indexPathForItem:index inSection:0]];`
!=
`[self collectionView:self.collectionView cellForItemAtIndexPath:[NSIndexPath indexPathForItem:index inSection:0]]`

mmmmm makes me think though, in practice there shou

[2016-06-17 06:50] krymtn commented on #1673
Gianni firstly thanks for your help,

Firstly i checked the datasource, its already okey when i sent to message but there was a strange stuff,
When i coded first line, you said to me which is

`JSQMessagesCollectionViewCellOutgoing *cell = (JSQMessagesCollectionViewCellOutgoing*)[self.collectionView cellForItemAtIndexPath:[NSIndexPath indexPathForItem:index inSection:0]];`

When i logged the cell,

[2016-06-17 08:26] kuyazee commented on #492
I'm also running on iphone5s and it lags so much when I scroll up or down

[2016-06-17 17:00] GianniCarlo commented on #1673
Ok, so I went through the documentation for `UICollectionView`. Turns out, `cellForItemAtIndexPath` returns nil if that cell isn't visible, see [here for documentation](https://developer.apple.com/library/ios/documentation/UIKit/Reference/UICollectionView_class/index.html#//apple_ref/occ/instm/UICollectionView/cellForItemAtIndexPath:)

This can be proven in the demo project with:
[code]
What I wou

[2016-06-17 19:31] MHX792 commented on #1458
How to do this in Swift? I cannot find a function called `shouldScrollToNewlyReceivedMessageAtIndexPath` or the property `isLastCellVisible`.

Has this been removed from JSQMessagesViewController?

[2016-06-17 20:48] rmelian2014 opened #1675 "Bubble message detect $value as link, and then changes color to black and stay in black"
## New issue checklist

- [x] I have read all of the [`README`](https://github.com/jessesquires/JSQMessagesViewController/blob/develop/README.md), [documentation](http://cocoadocs.org/docsets/JSQMessagesViewController/), and [FAQ](https://github.com/jessesquires/JSQMessagesViewController/blob/develop/Documentation/faq.md).
- [x] I have reviewed the [contributing guidelines](https://github.com/jess

[2016-06-18 06:15] krymtn commented on #1673
I was excited when i read the last suggestion but it still returns (null). Let me tell you what i want to do.

1) In my codes, when user send a text message , i allocate a JSQMessage object as

`JSQMessage *jsqMessage = [[JSQMessage alloc] initWithSenderId:senderId
                                                senderDisplayName:@"Demo"

[2016-06-18 07:18] lbanders commented on #1458
Hello  We use it from Swift. The shouldScrollToNewlyReceivedMessageAtIndexPath    is a delegate metodth you need to implement if you want any say on whether to scroll to a newly received message or not.  Regarding the property I am not sure as of why you don't see it. Have you imported the JSQMessagesViewController in your class?  Best regards   Leif 

---Sent from Boxer | http://getboxer.com

On

[2016-06-18 07:59] SagarVarmaD commented on #1575
Hi all
I was trying to generate c# library, using Objective Sharpie Binding concept. i am facing some issues build errors

[2016-06-18 08:42] SagarVarmaD opened #1676 "Hi all I was trying to generate xamarin library, using Objective Sharpie Binding concept. i am facing some build errors any help"
## New issue checklist

- [x] I have read all of the [`README`](https://github.com/jessesquires/JSQMessagesViewController/blob/develop/README.md), [documentation](http://cocoadocs.org/docsets/JSQMessagesViewController/), and [FAQ](https://github.com/jessesquires/JSQMessagesViewController/blob/develop/Documentation/faq.md).
- [ ] I have reviewed the [contributing guidelines](https://github.com/jess